workflows/Analyze_Stock_Charts_with_GPT_4_Vision_and_Send_Results_via_Telegram.json
{
  "id": "yBjR5afdjZNtPifv",
  "meta": {
    "instanceId": "5f9764ce8ade9ce9b31164c3b692a0c825a999b46f96de953f9cdad63881e1ab",
    "templateCredsSetupCompleted": true
  },
  "name": "Image_anlysis",
  "tags": [],
  "nodes": [
    {
      "id": "fb1046cf-d558-4874-a749-8f03b9f7ad3e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -720,
        -200
      ],
      "webhookId": "69c98bf3-aed0-4b73-ba6f-15879fb2378b",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "jqN4zt7cRMB5sO0P",
          "name": "image_anlsis"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "381f813f-1d16-4e31-a12f-0ad36155bc05",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        140,
        -360
      ],
      "parameters": {
        "text": "\u8fd9\u53ea\u80a1\u7968\u600e\u4e48\u6837",
        "batching": {},
        "messages": {
          "messageValues": [
            {
              "message": "# \u80a1\u7968\u56fe\u8868\u5206\u6790\u63d0\u793a\u8bcd\n\n## \u89d2\u8272\u5b9a\u4e49\n\u60a8\u7684\u89d2\u8272\u662f\u5206\u6790\u80a1\u7968\u4ef7\u683c\u56fe\u8868\u3002\n\n## \u5206\u6790\u8981\u6c42\n\u5bf9\u4e8e\u6bcf\u4e2a\u80a1\u7968\u56fe\u8868\uff0c\u8bf7\u63d0\u4f9b\uff1a\n- \u80a1\u7968\u540d\u79f0\u548c\u5f53\u524d\u4ef7\u683c\u8d8b\u52bf\uff08\u4e0a\u6da8/\u4e0b\u8dcc/\u6a2a\u76d8\uff09\n- \u5173\u952e\u4ef7\u4f4d\u6216\u767e\u5206\u6bd4\u53d8\u5316\n- \u7b80\u8981\u8d8b\u52bf\u5206\u6790\n\n\n## \u8f93\u51fa\u683c\u5f0f\uff08JSON\uff09\n{\n  \"search_word\": \"\u4e0e\u80a1\u7968\u6240\u5c5e\u884c\u4e1a\u6216\u516c\u53f8\u4e1a\u52a1\u76f8\u5173\u7684\u6838\u5fc3\u68c0\u7d22\u8bcd\",\n  \"content\": \"\u80a1\u7968\u540d\u79f0 + \u8d8b\u52bf\u5206\u6790 + \u5173\u952e\u4ef7\u683c\u4fe1\u606f + \u6280\u672f\u9762\u89e3\u8bfb\"\n}\n\n## \u6ce8\u610f\u4e8b\u9879\n- **search_word**: \u5339\u914d\u80a1\u7968\u6240\u5c5e\u884c\u4e1a\u5173\u952e\u8bcd\uff0c\u540c\u65f6\u4e5f\u80fd\u662f\u4e00\u4e9b\u7ec6\u5206\u884c\u4e1a\u5173\u952e\u8bcd\n- **content**: \u8d8b\u52bf\u5206\u6790\u8981\u5bcc\u542b\u903b\u8f91\uff0c\u56e0\u4e3a\u4f60\u7684\u51b3\u7b56\u51b3\u5b9a\u4e86\u7528\u6237\u80fd\u5426\u8d5a\u94b1\uff0c\u5305\u542b\u6280\u672f\u9762\u548c\u5e02\u573a\u60c5\u7eea\u4fe1\u606f\n- \u4ef7\u683c\u4fe1\u606f\u8981\u51c6\u786e\uff0c\u5305\u62ec\u5177\u4f53\u6570\u503c\u548c\u767e\u5206\u6bd4\u53d8\u5316\uff0c\u540c\u65f6\u53ef\u4ee5\u63d0\u9192\u7528\u6237\u53ef\u80fd\u7684\u6b62\u635f\u6216\u8005\u6b62\u76c8\u7684\u4ef7\u683c\n- search_word\u8981\u80fd\u51c6\u786e\u53cd\u6620\u8be5\u80a1\u7968\u7684\u6838\u5fc3\u4e1a\u52a1\u9886\u57df\u6216\u884c\u4e1a\u5c5e\u6027"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.7
    },
    {
      "id": "453589be-36f3-4022-8306-ba54b2d6bbcf",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "position": [
        -220,
        -360
      ],
      "parameters": {
        "width": 512,
        "height": 512,
        "options": {},
        "operation": "resize",
        "dataPropertyName": "=data"
      },
      "typeVersion": 1
    },
    {
      "id": "28b88eeb-da05-4a17-ac2c-4fdf846296fb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        740,
        -440
      ],
      "webhookId": "41cfac39-0bd2-474b-a1a2-83fc4115e257",
      "parameters": {
        "text": "={{ $json.output.content }}",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "jqN4zt7cRMB5sO0P",
          "name": "image_anlsis"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "0f7f2636-d90e-4ea1-8f4f-ad528ef8db50",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        100,
        -160
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4-vision-preview",
          "cachedResultName": "gpt-4-vision-preview"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "rRrVLkLnJIVGp3tN",
          "name": "geminiapi"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c88d1439-c1fb-4411-9996-6cd5f22d980a",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        460,
        -140
      ],
      "parameters": {
        "jsonSchemaExample": "{\n  \"search_word\": \"\u4e0e\u80a1\u7968\u6240\u5c5e\u884c\u4e1a\u6216\u516c\u53f8\u4e1a\u52a1\u76f8\u5173\u7684\u6838\u5fc3\u68c0\u7d22\u8bcd\",\n  \"content\": \"\u80a1\u7968\u540d\u79f0 + \u8d8b\u52bf\u5206\u6790 + \u5173\u952e\u4ef7\u683c\u4fe1\u606f + \u6280\u672f\u9762\u89e3\u8bfb\"\n}"
      },
      "typeVersion": 1.2
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c6c21e5-3ee4-48b9-9330-4c42367722c5",
  "connections": {
    "Edit Image": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Analyze Stock Charts with GPT-4 Vision and Send Results via Telegram",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/4892",
    "scraped_at": "2025-08-20 23:15:05",
    "workflow_id": "315643f1-f907-57a8-8aa4-d33f8e33ee12"
  },
  "_filename": "Analyze_Stock_Charts_with_GPT_4_Vision_and_Send_Results_via_Telegram.json"
}