workflows/Auto_Icon_Cover_for_New_Notion_Pages.json
{
  "id": "C9jsQn2b1eIDUTBr",
  "meta": {
    "instanceId": "02ba8e38c1713a3b3e5dd4af425ff7c1e206bd5536e6c5547c8dba24ec9cff6f",
    "templateCredsSetupCompleted": true
  },
  "name": "Auto Icon & Cover for New Notion Pages",
  "tags": [],
  "nodes": [
    {
      "id": "f8c9c367-b289-439e-afa5-0316ec515dd0",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        20,
        480
      ],
      "parameters": {
        "url": "=https://picsum.photos/v2/list?page={{$json.num}}&limit=100",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "5d2c8ad1-568a-4876-addf-b1476f7d88dd",
      "name": "emoji",
      "type": "n8n-nodes-base.code",
      "position": [
        240,
        480
      ],
      "parameters": {
        "jsCode": "\n// must use Notion allowed emoji\nconst emojiStr = \"\ud83d\ude00\ud83d\ude03\ud83d\ude04\ud83d\ude01\ud83d\ude06\ud83d\ude05\ud83d\ude02\ud83e\udd23\ud83d\ude0a\ud83d\ude07\ud83d\ude42\ud83d\ude43\ud83d\ude09\ud83d\ude0c\ud83d\ude0d\ud83e\udd70\ud83d\ude18\ud83d\ude17\ud83d\ude19\ud83d\ude1a\ud83d\ude0b\ud83d\ude1b\ud83d\ude1d\ud83d\ude1c\ud83e\udd2a\ud83e\udd28\ud83e\uddd0\ud83e\udd13\ud83d\ude0e\ud83e\udd78\ud83e\udd29\ud83e\udd73\ud83d\ude0f\ud83d\ude12\ud83d\ude1e\ud83d\ude14\ud83d\ude1f\ud83d\ude15\ud83d\ude41\u2639\ufe0f\ud83d\ude23\ud83d\ude16\ud83d\ude2b\ud83d\ude29\ud83e\udd7a\ud83d\ude22\ud83d\ude2d\ud83d\ude24\ud83d\ude20\ud83d\ude21\ud83e\udd2c\ud83d\ude31\ud83d\ude28\ud83d\ude30\ud83d\ude25\ud83d\ude13\ud83e\udd17\ud83e\udd14\ud83e\udd2d\ud83e\udd2b\ud83d\ude36\ud83d\ude36\ud83c\udf2b\ufe0f\ud83d\ude10\ud83d\ude11\ud83d\ude2c\ud83d\ude44\ud83d\ude2f\ud83d\ude26\ud83d\ude27\ud83d\ude2e\ud83d\ude32\ud83e\udd71\ud83d\ude34\ud83e\udd24\ud83d\ude2a\ud83d\ude35\ud83d\ude35\ud83d\udcab\ud83e\udd2f\ud83d\udc4b\ud83e\udd1a\ud83d\udd90\u270b\ud83d\udd96\ud83d\udc4c\ud83e\udd0c\ud83e\udd0f\u270c\ufe0f\ud83e\udd1e\ud83e\udd1f\ud83e\udd18\ud83e\udd19\ud83d\udc48\ud83d\udc49\ud83d\udc46\ud83d\udc47\ud83d\udd95\ud83d\udc4d\ud83d\udc4e\u270a\ud83d\udc4a\ud83e\udd1b\ud83e\udd1c\ud83d\udc4f\ud83d\ude4c\ud83d\udc50\ud83e\udd32\ud83e\udd1d\ud83d\udc42\ud83e\uddbb\ud83d\udc43\ud83d\udc76\ud83d\udc67\ud83d\udc66\ud83d\udc69\ud83d\udc68\ud83d\udc75\ud83d\udc74\ud83d\udc72\ud83d\udc73\ud83e\uddd5\ud83d\udc6e\ud83d\udc77\ud83d\udc82\ud83d\udd75\ufe0f\ud83d\udc69\u2695\ufe0f\ud83d\udc68\u2695\ufe0f\ud83d\udc69\ud83c\udf93\ud83d\udc68\ud83c\udf93\ud83d\udc69\ud83c\udfeb\ud83d\udc68\ud83c\udfeb\ud83d\udc69\u2696\ufe0f\ud83d\udc68\u2696\ufe0f\ud83d\udc69\ud83c\udf3e\ud83d\udc68\ud83c\udf3e\ud83d\udc69\ud83c\udf73\ud83d\udc68\ud83c\udf73\ud83d\udc69\ud83d\udd27\ud83d\udc68\ud83d\udd27\ud83d\udc69\ud83c\udfed\ud83d\udc68\ud83c\udfed\ud83d\udc69\ud83d\udcbb\ud83d\udc68\ud83d\udcbb\ud83d\udc69\ud83c\udfa4\ud83d\udc68\ud83c\udfa4\ud83d\udc69\ud83c\udfa8\ud83d\udc68\ud83c\udfa8\ud83d\udc69\u2708\ufe0f\ud83d\udc68\u2708\ufe0f\ud83d\udc69\ud83d\ude80\ud83d\udc68\ud83d\ude80\ud83d\udc69\ud83d\ude92\ud83d\udc68\ud83d\ude92\ud83d\udc78\ud83e\udd34\ud83d\udc70\ud83e\udd35\ud83d\udc7c\ud83c\udf85\ud83e\udd36\ud83e\uddb8\ud83e\uddb9\ud83e\uddd9\ud83e\uddda\ud83e\udddb\ud83e\udddc\ud83e\udddd\ud83d\udc86\ud83d\udc87\ud83d\udeb6\ud83c\udfc3\ud83d\udc83\ud83d\udd7a\ud83d\udc6f\ud83e\uddd6\ud83e\uddd7\ud83c\udfc7\ud83c\udfc2\ud83c\udfcc\ufe0f\ud83c\udfc4\ud83d\udea3\ud83c\udfca\u26f9\ufe0f\ud83c\udfcb\ufe0f\ud83d\udeb4\ud83d\udeb5\ud83e\udd38\ud83e\udd3c\ud83e\udd3d\ud83e\udd3e\ud83d\udc6b\ud83d\udc6d\ud83d\udc6c\ud83d\udc8f\ud83d\udc91\ud83d\udc6a\ud83d\udc35\ud83d\udc12\ud83e\udd8d\ud83d\udc36\ud83d\udc15\ud83d\udc29\ud83d\udc3a\ud83e\udd8a\ud83d\udc31\ud83d\udc08\ud83e\udd81\ud83d\udc2f\ud83d\udc05\ud83d\udc06\ud83d\udc34\ud83e\udd84\ud83e\udd93\ud83e\udd8c\ud83d\udc2e\ud83d\udc37\ud83d\udc17\ud83d\udc2d\ud83d\udc01\ud83d\udc39\ud83d\udc30\ud83d\udc07\ud83d\udc26\ud83d\udc27\ud83e\udd85\ud83e\udd86\ud83e\udd89\ud83d\udc38\ud83d\udc0a\ud83d\udc22\ud83e\udd8e\ud83d\udc0d\ud83d\udc32\ud83d\udc09\ud83e\udd95\ud83e\udd96\ud83d\udc33\ud83d\udc0b\ud83d\udc2c\ud83d\udc1f\ud83d\udc20\ud83d\udc21\ud83e\udd88\ud83d\udc19\ud83e\udd91\ud83e\udd9e\ud83e\udd80\ud83e\udd90\ud83d\udc0c\ud83e\udd8b\ud83d\udc1b\ud83d\udc1c\ud83d\udc1d\ud83e\udeb2\ud83d\udc1e\ud83e\udd97\ud83d\udd77\ufe0f\ud83d\udd78\ufe0f\ud83e\udd82\ud83d\udc90\ud83c\udf38\ud83c\udf39\ud83e\udd40\ud83c\udf3a\ud83c\udf3b\ud83c\udf3c\ud83c\udf37\ud83c\udf31\ud83c\udf3f\ud83c\udf40\ud83c\udf41\ud83c\udf42\ud83c\udf43\ud83c\udf47\ud83c\udf48\ud83c\udf49\ud83c\udf4a\ud83c\udf4b\ud83c\udf4c\ud83c\udf4d\ud83e\udd6d\ud83c\udf4e\ud83c\udf4f\ud83c\udf50\ud83c\udf51\ud83c\udf52\ud83c\udf53\ud83e\uded0\ud83e\udd5d\ud83c\udf45\ud83e\udd65\ud83e\udd51\ud83c\udf46\ud83e\udd54\ud83e\udd55\ud83c\udf3d\ud83c\udf36\ufe0f\ud83e\uded1\ud83e\udd52\ud83e\udd6c\ud83e\udd66\ud83e\uddc4\ud83e\uddc5\ud83c\udf44\ud83e\udd5c\ud83c\udf30\ud83c\udf5e\ud83e\udd50\ud83e\udd56\ud83e\uded3\ud83e\udd68\ud83e\udd6f\ud83e\udd5e\ud83e\uddc7\ud83e\uddc0\ud83c\udf56\ud83c\udf57\ud83e\udd69\ud83e\udd53\ud83c\udf54\ud83c\udf5f\ud83c\udf55\ud83c\udf2d\ud83e\udd6a\ud83c\udf2e\ud83c\udf2f\ud83e\uded4\ud83e\udd59\ud83e\uddc6\ud83e\udd5a\ud83c\udf73\ud83e\udd58\ud83c\udf72\ud83e\uded5\ud83e\udd63\ud83e\udd57\ud83c\udf7f\ud83e\uddc8\ud83e\uddc2\ud83e\udd6b\ud83c\udf71\ud83c\udf58\ud83c\udf59\ud83c\udf5a\ud83c\udf5b\ud83c\udf5c\ud83c\udf5d\ud83c\udf60\ud83c\udf62\ud83c\udf63\ud83c\udf64\ud83c\udf65\ud83e\udd6e\ud83c\udf61\ud83e\udd5f\ud83e\udd60\ud83e\udd61\ud83c\udf66\ud83c\udf67\ud83c\udf68\ud83c\udf69\ud83c\udf6a\ud83c\udf82\ud83c\udf70\ud83e\uddc1\ud83e\udd67\ud83c\udf6b\ud83c\udf6c\ud83c\udf6d\ud83c\udf6e\ud83c\udf6f\ud83c\udf7c\ud83e\udd5b\u2615\ud83e\uded6\ud83c\udf75\ud83c\udf76\ud83c\udf7e\ud83c\udf77\ud83c\udf78\ud83c\udf79\ud83c\udf7a\ud83c\udf7b\ud83e\udd42\ud83e\udd43\ud83e\uded7\ud83e\udd64\ud83e\uddcb\ud83e\uddc3\ud83e\uddc9\ud83e\uddca\ud83e\udd62\ud83c\udf7d\ufe0f\ud83c\udf74\ud83e\udd44\ud83d\udd2a\ud83c\udffa\ud83c\udf0d\ud83c\udf0e\ud83c\udf0f\ud83c\udf10\ud83d\uddfa\ufe0f\ud83e\udded\ud83c\udfd4\ufe0f\u26f0\ufe0f\ud83c\udf0b\ud83c\udfd5\ufe0f\ud83c\udfd6\ufe0f\ud83c\udfdc\ufe0f\ud83c\udfdd\ufe0f\ud83c\udfde\ufe0f\ud83c\udfdf\ufe0f\ud83c\udfdb\ufe0f\ud83c\udfd7\ufe0f\ud83e\uddf1\ud83d\uded6\ud83c\udfd8\ufe0f\ud83c\udfe0\ud83c\udfe1\ud83c\udfe2\ud83c\udfe3\ud83c\udfe4\ud83c\udfe5\ud83c\udfe6\ud83c\udfe8\ud83c\udfe9\ud83c\udfea\ud83c\udfeb\ud83c\udfec\ud83c\udfed\ud83c\udfef\ud83c\udff0\ud83d\udc92\ud83d\uddfc\ud83d\uddfd\u26ea\ud83d\udd4c\ud83d\udd4d\u26e9\ufe0f\ud83d\udd4b\u26f2\u26fa\ud83c\udf01\ud83c\udf03\ud83c\udfd9\ufe0f\ud83c\udf04\ud83c\udf05\ud83c\udf06\ud83c\udf09\u2668\ufe0f\ud83c\udfa0\ud83c\udfa1\ud83c\udfa2\ud83d\udc88\ud83c\udfaa\ud83d\ude82\ud83d\ude83\ud83d\ude84\ud83d\ude85\ud83d\ude86\ud83d\ude87\ud83d\ude88\ud83d\ude89\ud83d\ude8a\ud83d\ude9d\ud83d\ude9e\ud83d\ude8b\ud83d\ude8c\ud83d\ude8d\ud83d\ude8e\ud83d\ude90\ud83d\ude91\ud83d\ude92\ud83d\ude93\ud83d\ude94\ud83d\ude95\ud83d\ude96\ud83d\ude97\ud83d\ude98\ud83d\ude99\ud83d\udefb\ud83d\ude9a\ud83d\ude9b\ud83d\ude9c\ud83c\udfce\ufe0f\ud83c\udfcd\ufe0f\ud83d\udef5\ud83e\uddbd\ud83e\uddbc\ud83d\udefa\ud83d\udeb2\ud83d\udef4\ud83d\udef9\ud83d\udefc\ud83d\ude8f\ud83d\udee3\ufe0f\ud83d\udee4\ufe0f\u26fd\ud83d\udea8\ud83d\udea5\ud83d\udea6\ud83d\uded1\ud83d\udea7\u2693\u26f5\ud83d\udef6\ud83d\udea4\ud83d\udef3\ufe0f\u26f4\ufe0f\ud83d\udee5\ufe0f\ud83d\udea2\u2708\ufe0f\ud83d\udee9\ufe0f\ud83d\udeeb\ud83d\udeec\ud83e\ude82\ud83d\ude81\ud83d\ude9f\ud83d\udea0\ud83d\udea1\ud83d\udef0\ufe0f\ud83d\ude80\ud83d\udef8\ud83d\udece\ufe0f\ud83e\uddf3\u231b\u23f3\u231a\u23f0\u23f1\ufe0f\u23f2\ufe0f\ud83d\udd70\ufe0f\ud83c\udf11\ud83c\udf12\ud83c\udf13\ud83c\udf14\ud83c\udf15\ud83c\udf16\ud83c\udf17\ud83c\udf18\ud83c\udf19\ud83c\udf1a\ud83c\udf1b\ud83c\udf1c\ud83c\udf21\ufe0f\u2600\ufe0f\ud83c\udf1d\ud83c\udf1e\u2b50\ud83c\udf1f\ud83c\udf20\u2601\ufe0f\u26c5\ud83c\udf24\ufe0f\ud83c\udf25\ufe0f\ud83c\udf26\ufe0f\ud83c\udf27\ufe0f\ud83c\udf28\ufe0f\ud83c\udf29\ufe0f\ud83c\udf2a\ufe0f\ud83c\udf2b\ufe0f\ud83c\udf2c\ufe0f\ud83c\udf00\ud83c\udf08\ud83c\udf02\u2602\ufe0f\u2614\u26f1\ufe0f\u26a1\u2744\ufe0f\u2603\ufe0f\u26c4\u2604\ufe0f\ud83d\udd25\ud83d\udca7\ud83c\udf0a\ud83c\udf83\ud83c\udf84\ud83c\udf86\ud83c\udf87\u2728\ud83c\udf88\ud83c\udf89\ud83c\udf8a\ud83c\udf8b\ud83c\udf8d\ud83c\udf8e\ud83c\udf8f\ud83c\udf90\ud83c\udf91\ud83e\udde7\ud83c\udf80\ud83c\udf81\ud83c\udf97\ufe0f\ud83c\udf9f\ufe0f\ud83c\udfab\ud83c\udfc6\ud83c\udfc5\ud83e\udd47\ud83e\udd48\ud83e\udd49\u26bd\u26be\ud83e\udd4e\ud83c\udfc0\ud83c\udfd0\ud83c\udfc8\ud83c\udfc9\ud83c\udfbe\ud83e\udd4f\ud83c\udfb3\ud83c\udfcf\ud83c\udfd1\ud83c\udfd2\ud83e\udd4d\ud83c\udfd3\ud83c\udff8\ud83e\udd4a\ud83e\udd4b\u26f3\ud83c\udfa3\ud83e\udd3f\ud83c\udfbd\ud83c\udfbf\ud83d\udef7\ud83e\udd4c\ud83c\udfaf\ud83e\ude80\ud83e\ude81\ud83c\udfb1\ud83d\udd2e\ud83e\ude84\ud83c\udfae\ud83d\udd79\ufe0f\ud83c\udfb0\ud83c\udfb2\ud83e\udde9\ud83e\uddf8\ud83e\ude85\ud83e\udea9\ud83e\ude86\u2660\ufe0f\u2665\ufe0f\u2666\ufe0f\u2663\ufe0f\ud83c\udccf\ud83c\udc04\ud83c\udfb4\ud83c\udfad\ud83d\uddbc\ufe0f\ud83c\udfa8\ud83e\uddf5\ud83e\udea1\ud83e\uddf6\ud83e\udea2\ud83d\udc53\ud83d\udd76\ufe0f\ud83e\udd7d\ud83e\udd7c\ud83e\uddba\ud83d\udc54\ud83d\udc55\ud83d\udc56\ud83e\udde3\ud83e\udde4\ud83e\udde5\ud83e\udde6\ud83d\udc57\ud83d\udc58\ud83e\udd7b\ud83e\ude71\ud83e\ude72\ud83e\ude73\ud83d\udc59\ud83d\udc5a\ud83d\udc5b\ud83d\udc5c\ud83d\udc5d\ud83c\udf92\ud83e\ude74\ud83d\udc5e\ud83d\udc5f\ud83e\udd7e\ud83e\udd7f\ud83d\udc60\ud83d\udc61\ud83e\ude70\ud83d\udc62\ud83d\udc51\ud83d\udc52\ud83c\udfa9\ud83c\udf93\ud83e\udde2\ud83e\ude96\u26d1\ufe0f\ud83d\udcff\ud83d\udc84\ud83d\udc8d\ud83d\udc8e\ud83d\udd07\ud83d\udd08\ud83d\udd09\ud83d\udd0a\ud83d\udce2\ud83d\udce3\ud83d\udcef\ud83d\udd14\ud83d\udd15\ud83c\udfbc\ud83c\udfb5\ud83c\udfb6\ud83c\udf99\ufe0f\ud83c\udf9a\ufe0f\ud83c\udf9b\ufe0f\ud83c\udfa4\ud83c\udfa7\ud83d\udcfb\ud83c\udfb7\ud83e\ude97\ud83c\udfb8\ud83c\udfb9\ud83c\udfba\ud83c\udfbb\ud83e\ude95\ud83e\udd41\ud83e\ude98\ud83d\udcf1\ud83d\udcf2\u260e\ufe0f\ud83d\udcde\ud83d\udcdf\ud83d\udce0\ud83d\udd0b\ud83e\udeab\ud83d\udd0c\ud83d\udcbb\ud83d\udda5\ufe0f\ud83d\udda8\ufe0f\u2328\ufe0f\ud83d\uddb1\ufe0f\ud83d\uddb2\ufe0f\ud83d\udcbd\ud83d\udcbe\ud83d\udcbf\ud83d\udcc0\ud83e\uddee\ud83c\udfa5\ud83c\udf9e\ufe0f\ud83d\udcfd\ufe0f\ud83c\udfac\ud83d\udcfa\ud83d\udcf7\ud83d\udcf8\ud83d\udcf9\ud83d\udcfc\ud83d\udd0d\ud83d\udd0e\ud83d\udd6f\ufe0f\ud83d\udca1\ud83d\udd26\ud83c\udfee\ud83e\ude94\ud83d\udcd4\ud83d\udcd5\ud83d\udcd6\ud83d\udcd7\ud83d\udcd8\ud83d\udcd9\ud83d\udcda\ud83d\udcd3\ud83d\udcd2\ud83d\udcc3\ud83d\udcdc\ud83d\udcc4\ud83d\udcf0\ud83d\uddde\ufe0f\ud83d\udcd1\ud83d\udd16\ud83c\udff7\ufe0f\ud83d\udcb0\ud83d\udcb8\ud83d\udcb3\ud83e\uddfe\ud83d\udcb9\u2709\ufe0f\ud83d\udce7\ud83d\udce8\ud83d\udce9\ud83d\udce4\ud83d\udce5\ud83d\udce6\ud83d\udceb\ud83d\udcea\ud83d\udcec\ud83d\udced\ud83d\udcee\ud83d\uddf3\ufe0f\u270f\ufe0f\u2712\ufe0f\ud83d\udcdd\ud83d\udcc2\ud83d\uddc2\ufe0f\ud83d\uddd3\ufe0f\ud83d\udcc7\ud83d\udccb\ud83d\udccc\ud83d\udccd\ud83d\udcce\ud83d\udd87\ufe0f\ud83d\udccf\ud83d\udcd0\u2702\ufe0f\ud83d\uddc3\ufe0f\ud83d\uddc4\ufe0f\ud83d\uddd1\ufe0f\ud83d\udd12\ud83d\udd13\ud83d\udd0f\ud83d\udd10\ud83d\udd11\ud83d\udddd\ufe0f\ud83d\udd28\ud83e\ude93\u26cf\ufe0f\u2692\ufe0f\ud83d\udee0\ufe0f\ud83d\udde1\ufe0f\u2694\ufe0f\ud83d\udd2b\ud83e\ude83\ud83c\udff9\ud83d\udee1\ufe0f\ud83e\ude9a\ud83d\udd27\ud83e\ude9b\ud83d\udd29\u2699\ufe0f\ud83d\udddc\ufe0f\u2696\ufe0f\ud83e\uddaf\ud83d\udd17\u26d3\ufe0f\ud83e\ude9d\ud83e\uddf0\ud83e\uddf2\ud83e\ude9c\u2697\ufe0f\ud83e\uddea\ud83e\uddeb\ud83e\uddec\ud83d\udd2c\ud83d\udd2d\ud83d\udce1\ud83d\udc89\ud83e\ude78\ud83d\udc8a\ud83e\ude79\ud83e\ude7c\ud83e\ude7a\ud83e\ude7b\ud83d\udeaa\ud83d\uded7\ud83e\ude9e\ud83e\ude9f\ud83d\udecf\ufe0f\ud83d\udecb\ufe0f\ud83e\ude91\ud83d\udebd\ud83e\udea0\ud83d\udebf\ud83d\udec1\ud83e\udea4\ud83e\ude92\ud83e\uddf4\ud83e\uddf7\ud83e\uddf9\ud83e\uddfa\ud83e\uddfb\ud83e\udea3\ud83e\uddfc\ud83e\udee7\ud83e\udea5\ud83e\uddfd\ud83e\uddef\ud83d\uded2\ud83d\udeac\u26b0\ufe0f\ud83e\udea6\u26b1\ufe0f\ud83d\uddff\ud83e\udea7\ud83e\udeaa\u23cf\ufe0f\ud83c\udfa6\ud83d\udd05\ud83d\udd06\ud83d\udcb2\u2695\ufe0f\u267b\ufe0f\u269c\ufe0f\ud83d\udd31\ud83d\udcdb\ud83d\udd30\u2b55\u2705\u2611\ufe0f\u2714\ufe0f\u274c\u274e\u27b0\u27bf\u303d\ufe0f\u2733\ufe0f\u2734\ufe0f\u2747\ufe0f\ud83c\udd7f\ufe0f\ud83c\udd98\ud83c\udd99\ud83c\udd9a\ud83d\udea9\"\n\n\nlet emojiList = emojiStr.split('')\nfor (const element of $('Random Number').all()) {\n  let randomIndex = Math.floor(Math.random() * emojiList.length);\nlet randomEmoji = emojiList[randomIndex];\n  element.json.emoji = randomEmoji\n  \n}\nreturn  $('Random Number').all()"
      },
      "typeVersion": 2
    },
    {
      "id": "64da878c-b7fd-405b-9f3a-4896ddd69039",
      "name": "picurl",
      "type": "n8n-nodes-base.code",
      "position": [
        1340,
        480
      ],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfunction getRandomInt(min, max) {\n  // \u786e\u4fdd min \u548c max \u662f\u6574\u6570\u3002\n  min = Math.ceil(min); // \u5411\u4e0a\u53d6\u6574\uff0c\u786e\u4fdd min \u662f\u6574\u6570\n  max = Math.floor(max); // \u5411\u4e0b\u53d6\u6574\uff0c\u786e\u4fdd max \u662f\u6574\u6570\n\n  // \u517c\u5bb9\u5904\u7406\uff1a\u5982\u679c min \u5927\u4e8e max\uff0c\u5219\u4ea4\u6362\u5b83\u4eec\u7684\u503c\u3002\n  if (min > max) {\n    [min, max] = [max, min]; // \u4f7f\u7528\u6570\u7ec4\u89e3\u6784\u4ea4\u6362\u503c\uff0c\u66f4\u7b80\u6d01\n  }\n\n  // \u751f\u6210\u968f\u673a\u6570\u3002\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n// const randomNum1 = getRandomInt(1, 100);\n// $('emoji').item.json.emoji\n// for (const element of $input.all()) {\n//   let randomNum1 = getRandomInt(1, 100);\n//   element.json.picurl = $input.all()[randomNum1]\n// }\nfor (const element of $('Random Number').all()) {\n  let randomNum1 = getRandomInt(1, 100);\n  element.json.picurl = $('HTTP Request').all()[randomNum1].json.download_url\n\n}\n// $input.first().json.emoji = randomEmoji\n// \u5c06\u7ed3\u679c\u4f5c\u4e3a\u65b0\u7684 item \u8f93\u51fa.  n8n Code \u8282\u70b9\u901a\u5e38\u8fd4\u56de\u4e00\u4e2a\u6570\u7ec4\u3002\nreturn  $('Random Number').all()\n"
      },
      "typeVersion": 2
    },
    {
      "id": "70a1261a-7d69-4d8c-b1f4-39823f2028df",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1620,
        480
      ],
      "parameters": {
        "options": {},
        "batchSize": "={{ $('emoji').all().length }}"
      },
      "typeVersion": 3
    },
    {
      "id": "8da7a64e-b43a-40d6-b601-515d300794d1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -420,
        480
      ],
      "webhookId": "0e0c42ac-ad54-4823-b1d2-592b3bc33337",
      "parameters": {
        "path": "0e0c42ac-ad54-4823-b1d2-592b3bc33337",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "c42e64ed-578d-47f7-acb9-219ed12d8536",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        760,
        720
      ],
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "aR9VkbvhUvcDyNsF",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a77e8be2-e4a7-4bd2-86cd-08657105bfe5",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        700,
        480
      ],
      "parameters": {
        "text": "=Please analyze the given text information and return the most suitable emoji from the emoji list below. Note that you can only return one emoji. Return it in JSON format. Empty responses are not allowed.\n\nEmoji list contents\uff1a \ud83d\ude00\ud83d\ude03\ud83d\ude04\ud83d\ude01\ud83d\ude06\ud83d\ude05\ud83d\ude02\ud83e\udd23\ud83d\ude0a\ud83d\ude07\ud83d\ude42\ud83d\ude43\ud83d\ude09\ud83d\ude0c\ud83d\ude0d\ud83e\udd70\ud83d\ude18\ud83d\ude17\ud83d\ude19\ud83d\ude1a\ud83d\ude0b\ud83d\ude1b\ud83d\ude1d\ud83d\ude1c\ud83e\udd2a\ud83e\udd28\ud83e\uddd0\ud83e\udd13\ud83d\ude0e\ud83e\udd78\ud83e\udd29\ud83e\udd73\ud83d\ude0f\ud83d\ude12\ud83d\ude1e\ud83d\ude14\ud83d\ude1f\ud83d\ude15\ud83d\ude41\u2639\ufe0f\ud83d\ude23\ud83d\ude16\ud83d\ude2b\ud83d\ude29\ud83e\udd7a\ud83d\ude22\ud83d\ude2d\ud83d\ude24\ud83d\ude20\ud83d\ude21\ud83e\udd2c\ud83d\ude31\ud83d\ude28\ud83d\ude30\ud83d\ude25\ud83d\ude13\ud83e\udd17\ud83e\udd14\ud83e\udd2d\ud83e\udd2b\ud83d\ude36\ud83d\ude36\ud83c\udf2b\ufe0f\ud83d\ude10\ud83d\ude11\ud83d\ude2c\ud83d\ude44\ud83d\ude2f\ud83d\ude26\ud83d\ude27\ud83d\ude2e\ud83d\ude32\ud83e\udd71\ud83d\ude34\ud83e\udd24\ud83d\ude2a\ud83d\ude35\ud83d\ude35\ud83d\udcab\ud83e\udd2f\n  \ud83d\udc4b\ud83e\udd1a\ud83d\udd90\u270b\ud83d\udd96\ud83d\udc4c\ud83e\udd0c\ud83e\udd0f\u270c\ufe0f\ud83e\udd1e\ud83e\udd1f\ud83e\udd18\ud83e\udd19\ud83d\udc48\ud83d\udc49\ud83d\udc46\ud83d\udc47\ud83d\udd95\ud83d\udc4d\ud83d\udc4e\u270a\ud83d\udc4a\ud83e\udd1b\ud83e\udd1c\ud83d\udc4f\ud83d\ude4c\ud83d\udc50\ud83e\udd32\ud83e\udd1d\ud83d\udc42\ud83e\uddbb\ud83d\udc43\ud83d\udc76\ud83d\udc67\ud83d\udc66\ud83d\udc69\ud83d\udc68\ud83d\udc75\ud83d\udc74\ud83d\udc72\ud83d\udc73\ud83e\uddd5\ud83d\udc6e\ud83d\udc77\ud83d\udc82\ud83d\udd75\ufe0f\ud83d\udc69\u2695\ufe0f\ud83d\udc68\u2695\ufe0f\ud83d\udc69\ud83c\udf93\ud83d\udc68\ud83c\udf93\ud83d\udc69\ud83c\udfeb\ud83d\udc68\ud83c\udfeb\ud83d\udc69\u2696\ufe0f\ud83d\udc68\u2696\ufe0f\ud83d\udc69\ud83c\udf3e\ud83d\udc68\ud83c\udf3e\ud83d\udc69\ud83c\udf73\ud83d\udc68\ud83c\udf73\ud83d\udc69\ud83d\udd27\ud83d\udc68\ud83d\udd27\ud83d\udc69\ud83c\udfed\ud83d\udc68\ud83c\udfed\ud83d\udc69\ud83d\udcbb\ud83d\udc68\ud83d\udcbb\ud83d\udc69\ud83c\udfa4\ud83d\udc68\ud83c\udfa4\ud83d\udc69\ud83c\udfa8\ud83d\udc68\ud83c\udfa8\ud83d\udc69\u2708\ufe0f\ud83d\udc68\u2708\ufe0f\ud83d\udc69\ud83d\ude80\ud83d\udc68\ud83d\ude80\ud83d\udc69\ud83d\ude92\ud83d\udc68\ud83d\ude92\ud83d\udc78\ud83e\udd34\ud83d\udc70\ud83e\udd35\ud83d\udc7c\ud83c\udf85\ud83e\udd36\ud83e\uddb8\ud83e\uddb9\ud83e\uddd9\ud83e\uddda\ud83e\udddb\ud83e\udddc\ud83e\udddd\ud83d\udc86\ud83d\udc87\ud83d\udeb6\ud83c\udfc3\ud83d\udc83\ud83d\udd7a\ud83d\udc6f\ud83e\uddd6\ud83e\uddd7\ud83c\udfc7\ud83c\udfc2\ud83c\udfcc\ufe0f\ud83c\udfc4\ud83d\udea3\ud83c\udfca\u26f9\ufe0f\ud83c\udfcb\ufe0f\ud83d\udeb4\ud83d\udeb5\ud83e\udd38\ud83e\udd3c\ud83e\udd3d\ud83e\udd3e\ud83d\udc6b\ud83d\udc6d\ud83d\udc6c\ud83d\udc8f\ud83d\udc91\ud83d\udc6a\n  \ud83d\udc35\ud83d\udc12\ud83e\udd8d\ud83d\udc36\ud83d\udc15\ud83d\udc29\ud83d\udc3a\ud83e\udd8a\ud83d\udc31\ud83d\udc08\ud83e\udd81\ud83d\udc2f\ud83d\udc05\ud83d\udc06\ud83d\udc34\ud83e\udd84\ud83e\udd93\ud83e\udd8c\ud83d\udc2e\ud83d\udc37\ud83d\udc17\ud83d\udc2d\ud83d\udc01\ud83d\udc39\ud83d\udc30\ud83d\udc07\ud83d\udc26\ud83d\udc27\ud83e\udd85\ud83e\udd86\ud83e\udd89\ud83d\udc38\ud83d\udc0a\ud83d\udc22\ud83e\udd8e\ud83d\udc0d\ud83d\udc32\ud83d\udc09\ud83e\udd95\ud83e\udd96\ud83d\udc33\ud83d\udc0b\ud83d\udc2c\ud83d\udc1f\ud83d\udc20\ud83d\udc21\ud83e\udd88\ud83d\udc19\ud83e\udd91\ud83e\udd9e\ud83e\udd80\ud83e\udd90\ud83d\udc0c\ud83e\udd8b\ud83d\udc1b\ud83d\udc1c\ud83d\udc1d\ud83e\udeb2\ud83d\udc1e\ud83e\udd97\ud83d\udd77\ufe0f\ud83d\udd78\ufe0f\ud83e\udd82\ud83d\udc90\ud83c\udf38\ud83c\udf39\ud83e\udd40\ud83c\udf3a\ud83c\udf3b\ud83c\udf3c\ud83c\udf37\ud83c\udf31\ud83c\udf3f\ud83c\udf40\ud83c\udf41\ud83c\udf42\ud83c\udf43\n  \ud83c\udf47\ud83c\udf48\ud83c\udf49\ud83c\udf4a\ud83c\udf4b\ud83c\udf4c\ud83c\udf4d\ud83e\udd6d\ud83c\udf4e\ud83c\udf4f\ud83c\udf50\ud83c\udf51\ud83c\udf52\ud83c\udf53\ud83e\uded0\ud83e\udd5d\ud83c\udf45\ud83e\udd65\ud83e\udd51\ud83c\udf46\ud83e\udd54\ud83e\udd55\ud83c\udf3d\ud83c\udf36\ufe0f\ud83e\uded1\ud83e\udd52\ud83e\udd6c\ud83e\udd66\ud83e\uddc4\ud83e\uddc5\ud83c\udf44\ud83e\udd5c\ud83c\udf30\ud83c\udf5e\ud83e\udd50\ud83e\udd56\ud83e\uded3\ud83e\udd68\ud83e\udd6f\ud83e\udd5e\ud83e\uddc7\ud83e\uddc0\ud83c\udf56\ud83c\udf57\ud83e\udd69\ud83e\udd53\ud83c\udf54\ud83c\udf5f\ud83c\udf55\ud83c\udf2d\ud83e\udd6a\ud83c\udf2e\ud83c\udf2f\ud83e\uded4\ud83e\udd59\ud83e\uddc6\ud83e\udd5a\ud83c\udf73\ud83e\udd58\ud83c\udf72\ud83e\uded5\ud83e\udd63\ud83e\udd57\ud83c\udf7f\ud83e\uddc8\ud83e\uddc2\ud83e\udd6b\ud83c\udf71\ud83c\udf58\ud83c\udf59\ud83c\udf5a\ud83c\udf5b\ud83c\udf5c\ud83c\udf5d\ud83c\udf60\ud83c\udf62\ud83c\udf63\ud83c\udf64\ud83c\udf65\ud83e\udd6e\ud83c\udf61\ud83e\udd5f\ud83e\udd60\ud83e\udd61\ud83c\udf66\ud83c\udf67\ud83c\udf68\ud83c\udf69\ud83c\udf6a\ud83c\udf82\ud83c\udf70\ud83e\uddc1\ud83e\udd67\ud83c\udf6b\ud83c\udf6c\ud83c\udf6d\ud83c\udf6e\ud83c\udf6f\ud83c\udf7c\ud83e\udd5b\u2615\ud83e\uded6\ud83c\udf75\ud83c\udf76\ud83c\udf7e\ud83c\udf77\ud83c\udf78\ud83c\udf79\ud83c\udf7a\ud83c\udf7b\ud83e\udd42\ud83e\udd43\ud83e\uded7\ud83e\udd64\ud83e\uddcb\ud83e\uddc3\ud83e\uddc9\ud83e\uddca\ud83e\udd62\ud83c\udf7d\ufe0f\ud83c\udf74\ud83e\udd44\ud83d\udd2a\ud83c\udffa\ud83c\udf0d\ud83c\udf0e\ud83c\udf0f\ud83c\udf10\ud83d\uddfa\ufe0f\ud83e\udded\ud83c\udfd4\ufe0f\u26f0\ufe0f\ud83c\udf0b\ud83c\udfd5\ufe0f\ud83c\udfd6\ufe0f\ud83c\udfdc\ufe0f\ud83c\udfdd\ufe0f\ud83c\udfde\ufe0f\ud83c\udfdf\ufe0f\ud83c\udfdb\ufe0f\ud83c\udfd7\ufe0f\ud83e\uddf1\ud83d\uded6\ud83c\udfd8\ufe0f\ud83c\udfe0\ud83c\udfe1\ud83c\udfe2\ud83c\udfe3\ud83c\udfe4\ud83c\udfe5\ud83c\udfe6\ud83c\udfe8\ud83c\udfe9\ud83c\udfea\ud83c\udfeb\ud83c\udfec\ud83c\udfed\ud83c\udfef\ud83c\udff0\ud83d\udc92\ud83d\uddfc\ud83d\uddfd\u26ea\ud83d\udd4c\ud83d\udd4d\u26e9\ufe0f\ud83d\udd4b\u26f2\u26fa\ud83c\udf01\ud83c\udf03\ud83c\udfd9\ufe0f\ud83c\udf04\ud83c\udf05\ud83c\udf06\ud83c\udf09\u2668\ufe0f\ud83c\udfa0\ud83c\udfa1\ud83c\udfa2\ud83d\udc88\ud83c\udfaa\ud83d\ude82\ud83d\ude83\ud83d\ude84\ud83d\ude85\ud83d\ude86\ud83d\ude87\ud83d\ude88\ud83d\ude89\ud83d\ude8a\ud83d\ude9d\ud83d\ude9e\ud83d\ude8b\ud83d\ude8c\ud83d\ude8d\ud83d\ude8e\ud83d\ude90\ud83d\ude91\ud83d\ude92\ud83d\ude93\ud83d\ude94\ud83d\ude95\ud83d\ude96\ud83d\ude97\ud83d\ude98\ud83d\ude99\ud83d\udefb\ud83d\ude9a\ud83d\ude9b\ud83d\ude9c\ud83c\udfce\ufe0f\ud83c\udfcd\ufe0f\ud83d\udef5\ud83e\uddbd\ud83e\uddbc\ud83d\udefa\ud83d\udeb2\ud83d\udef4\ud83d\udef9\ud83d\udefc\ud83d\ude8f\ud83d\udee3\ufe0f\ud83d\udee4\ufe0f\u26fd\ud83d\udea8\ud83d\udea5\ud83d\udea6\ud83d\uded1\ud83d\udea7\u2693\u26f5\ud83d\udef6\ud83d\udea4\ud83d\udef3\ufe0f\u26f4\ufe0f\ud83d\udee5\ufe0f\ud83d\udea2\u2708\ufe0f\ud83d\udee9\ufe0f\ud83d\udeeb\ud83d\udeec\ud83e\ude82\ud83d\ude81\ud83d\ude9f\ud83d\udea0\ud83d\udea1\ud83d\udef0\ufe0f\ud83d\ude80\ud83d\udef8\ud83d\udece\ufe0f\ud83e\uddf3\u231b\u23f3\u231a\u23f0\u23f1\ufe0f\u23f2\ufe0f\ud83d\udd70\ufe0f\ud83c\udf11\ud83c\udf12\ud83c\udf13\ud83c\udf14\ud83c\udf15\ud83c\udf16\ud83c\udf17\ud83c\udf18\ud83c\udf19\ud83c\udf1a\ud83c\udf1b\ud83c\udf1c\ud83c\udf21\ufe0f\u2600\ufe0f\ud83c\udf1d\ud83c\udf1e\u2b50\ud83c\udf1f\ud83c\udf20\u2601\ufe0f\u26c5\ud83c\udf24\ufe0f\ud83c\udf25\ufe0f\ud83c\udf26\ufe0f\ud83c\udf27\ufe0f\ud83c\udf28\ufe0f\ud83c\udf29\ufe0f\ud83c\udf2a\ufe0f\ud83c\udf2b\ufe0f\ud83c\udf2c\ufe0f\ud83c\udf00\ud83c\udf08\ud83c\udf02\u2602\ufe0f\u2614\u26f1\ufe0f\u26a1\u2744\ufe0f\u2603\ufe0f\u26c4\u2604\ufe0f\ud83d\udd25\ud83d\udca7\ud83c\udf0a\ud83c\udf83\ud83c\udf84\ud83c\udf86\ud83c\udf87\u2728\ud83c\udf88\ud83c\udf89\ud83c\udf8a\ud83c\udf8b\ud83c\udf8d\ud83c\udf8e\ud83c\udf8f\ud83c\udf90\ud83c\udf91\ud83e\udde7\ud83c\udf80\ud83c\udf81\ud83c\udf97\ufe0f\ud83c\udf9f\ufe0f\ud83c\udfab\ud83c\udfc6\ud83c\udfc5\ud83e\udd47\ud83e\udd48\ud83e\udd49\u26bd\u26be\ud83e\udd4e\ud83c\udfc0\ud83c\udfd0\ud83c\udfc8\ud83c\udfc9\ud83c\udfbe\ud83e\udd4f\ud83c\udfb3\ud83c\udfcf\ud83c\udfd1\ud83c\udfd2\ud83e\udd4d\ud83c\udfd3\ud83c\udff8\ud83e\udd4a\ud83e\udd4b\u26f3\ud83c\udfa3\ud83e\udd3f\ud83c\udfbd\ud83c\udfbf\ud83d\udef7\ud83e\udd4c\ud83c\udfaf\ud83e\ude80\ud83e\ude81\ud83c\udfb1\ud83d\udd2e\ud83e\ude84\ud83c\udfae\ud83d\udd79\ufe0f\ud83c\udfb0\ud83c\udfb2\ud83e\udde9\ud83e\uddf8\ud83e\ude85\ud83e\udea9\ud83e\ude86\u2660\ufe0f\u2665\ufe0f\u2666\ufe0f\u2663\ufe0f\ud83c\udccf\ud83c\udc04\ud83c\udfb4\ud83c\udfad\ud83d\uddbc\ufe0f\ud83c\udfa8\ud83e\uddf5\ud83e\udea1\ud83e\uddf6\ud83e\udea2\ud83d\udc53\ud83d\udd76\ufe0f\ud83e\udd7d\ud83e\udd7c\ud83e\uddba\ud83d\udc54\ud83d\udc55\ud83d\udc56\ud83e\udde3\ud83e\udde4\ud83e\udde5\ud83e\udde6\ud83d\udc57\ud83d\udc58\ud83e\udd7b\ud83e\ude71\ud83e\ude72\ud83e\ude73\ud83d\udc59\ud83d\udc5a\ud83d\udc5b\ud83d\udc5c\ud83d\udc5d\ud83c\udf92\ud83e\ude74\ud83d\udc5e\ud83d\udc5f\ud83e\udd7e\ud83e\udd7f\ud83d\udc60\ud83d\udc61\ud83e\ude70\ud83d\udc62\ud83d\udc51\ud83d\udc52\ud83c\udfa9\ud83c\udf93\ud83e\udde2\ud83e\ude96\u26d1\ufe0f\ud83d\udcff\ud83d\udc84\ud83d\udc8d\ud83d\udc8e\ud83d\udd07\ud83d\udd08\ud83d\udd09\ud83d\udd0a\ud83d\udce2\ud83d\udce3\ud83d\udcef\ud83d\udd14\ud83d\udd15\ud83c\udfbc\ud83c\udfb5\ud83c\udfb6\ud83c\udf99\ufe0f\ud83c\udf9a\ufe0f\ud83c\udf9b\ufe0f\ud83c\udfa4\ud83c\udfa7\ud83d\udcfb\ud83c\udfb7\ud83e\ude97\ud83c\udfb8\ud83c\udfb9\ud83c\udfba\ud83c\udfbb\ud83e\ude95\ud83e\udd41\ud83e\ude98\ud83d\udcf1\ud83d\udcf2\u260e\ufe0f\ud83d\udcde\ud83d\udcdf\ud83d\udce0\ud83d\udd0b\ud83e\udeab\ud83d\udd0c\ud83d\udcbb\ud83d\udda5\ufe0f\ud83d\udda8\ufe0f\u2328\ufe0f\ud83d\uddb1\ufe0f\ud83d\uddb2\ufe0f\ud83d\udcbd\ud83d\udcbe\ud83d\udcbf\ud83d\udcc0\ud83e\uddee\ud83c\udfa5\ud83c\udf9e\ufe0f\ud83d\udcfd\ufe0f\ud83c\udfac\ud83d\udcfa\ud83d\udcf7\ud83d\udcf8\ud83d\udcf9\ud83d\udcfc\ud83d\udd0d\ud83d\udd0e\ud83d\udd6f\ufe0f\ud83d\udca1\ud83d\udd26\ud83c\udfee\ud83e\ude94\ud83d\udcd4\ud83d\udcd5\ud83d\udcd6\ud83d\udcd7\ud83d\udcd8\ud83d\udcd9\ud83d\udcda\ud83d\udcd3\ud83d\udcd2\ud83d\udcc3\ud83d\udcdc\ud83d\udcc4\ud83d\udcf0\ud83d\uddde\ufe0f\ud83d\udcd1\ud83d\udd16\ud83c\udff7\ufe0f\ud83d\udcb0\ud83d\udcb8\ud83d\udcb3\ud83e\uddfe\ud83d\udcb9\u2709\ufe0f\ud83d\udce7\ud83d\udce8\ud83d\udce9\ud83d\udce4\ud83d\udce5\ud83d\udce6\ud83d\udceb\ud83d\udcea\ud83d\udcec\ud83d\udced\ud83d\udcee\ud83d\uddf3\ufe0f\u270f\ufe0f\u2712\ufe0f\ud83d\udcdd\ud83d\udcc2\ud83d\uddc2\ufe0f\ud83d\uddd3\ufe0f\ud83d\udcc7\ud83d\udccb\ud83d\udccc\ud83d\udccd\ud83d\udcce\ud83d\udd87\ufe0f\ud83d\udccf\ud83d\udcd0\u2702\ufe0f\ud83d\uddc3\ufe0f\ud83d\uddc4\ufe0f\ud83d\uddd1\ufe0f\ud83d\udd12\ud83d\udd13\ud83d\udd0f\ud83d\udd10\ud83d\udd11\ud83d\udddd\ufe0f\ud83d\udd28\ud83e\ude93\u26cf\ufe0f\u2692\ufe0f\ud83d\udee0\ufe0f\ud83d\udde1\ufe0f\u2694\ufe0f\ud83d\udd2b\ud83e\ude83\ud83c\udff9\ud83d\udee1\ufe0f\ud83e\ude9a\ud83d\udd27\ud83e\ude9b\ud83d\udd29\u2699\ufe0f\ud83d\udddc\ufe0f\u2696\ufe0f\ud83e\uddaf\ud83d\udd17\u26d3\ufe0f\ud83e\ude9d\ud83e\uddf0\ud83e\uddf2\ud83e\ude9c\u2697\ufe0f\ud83e\uddea\ud83e\uddeb\ud83e\uddec\ud83d\udd2c\ud83d\udd2d\ud83d\udce1\ud83d\udc89\ud83e\ude78\ud83d\udc8a\ud83e\ude79\ud83e\ude7c\ud83e\ude7a\ud83e\ude7b\ud83d\udeaa\ud83d\uded7\ud83e\ude9e\ud83e\ude9f\ud83d\udecf\ufe0f\ud83d\udecb\ufe0f\ud83e\ude91\ud83d\udebd\ud83e\udea0\ud83d\udebf\ud83d\udec1\ud83e\udea4\ud83e\ude92\ud83e\uddf4\ud83e\uddf7\ud83e\uddf9\ud83e\uddfa\ud83e\uddfb\ud83e\udea3\ud83e\uddfc\ud83e\udee7\ud83e\udea5\ud83e\uddfd\ud83e\uddef\ud83d\uded2\ud83d\udeac\u26b0\ufe0f\ud83e\udea6\u26b1\ufe0f\ud83d\uddff\ud83e\udea7\ud83e\udeaa\u23cf\ufe0f\ud83c\udfa6\ud83d\udd05\ud83d\udd06\ud83d\udcb2\u2695\ufe0f\u267b\ufe0f\u269c\ufe0f\ud83d\udd31\ud83d\udcdb\ud83d\udd30\u2b55\u2705\u2611\ufe0f\u2714\ufe0f\u274c\u274e\u27b0\u27bf\u303d\ufe0f\u2733\ufe0f\u2734\ufe0f\u2747\ufe0f\ud83c\udd7f\ufe0f\ud83c\udd98\ud83c\udd99\ud83c\udd9a\ud83d\udea9\nuse output format\uff1a\n{\n\t\"emoji\": \"\ud83d\ude80\"\n}\n\n\u6211\u7684\u5185\u5bb9\u662f\uff1a  {{ $json.name }}",
        "promptType": "define"
      },
      "retryOnFail": true,
      "typeVersion": 1.6,
      "alwaysOutputData": true
    },
    {
      "id": "3e65d28b-5260-4ede-af69-63358e69f8c8",
      "name": "Random Number",
      "type": "n8n-nodes-base.code",
      "position": [
        -200,
        480
      ],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfunction getRandomInt(min, max) {\n \n  min = Math.ceil(min); \n  max = Math.floor(max);\n\n  if (min > max) {\n    [min, max] = [max, min]; \n  }\n\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nlet i = 0\n// let randomNum1 = getRandomInt(1, 10);\nfor (const element of $input.all()) {\n  element.json.num = getRandomInt(1, 10)\n   element.json.id = $input.all()[i].json.id\n  i++\n}\n// $input.all(i).json.num = randomNum1\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "c7421dea-a3f6-4d58-a435-c0fa88795641",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        260
      ],
      "parameters": {
        "content": "## Webhook  \nuse webhook so you can send req by Notion Button or Automation"
      },
      "typeVersion": 1
    },
    {
      "id": "e1815bda-0f17-408d-81b1-1555d3966d04",
      "name": "Get Notion Title",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        480
      ],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if (item.json.body.data.properties) {\n    item.json.name = item.json.body.data.properties.Name.title[0].plain_text\n    \n  }else{\n     item.json.name = item.json.body.data.Name\n  }\n  \n}\n\n\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "f713ca6d-b61e-42f8-9d03-f5e905a06994",
      "name": "Update Notion Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1980,
        480
      ],
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $('Webhook').item.json.body.data.id }}",
        "method": "PATCH",
        "options": {},
        "jsonBody": "={\n  \"icon\": {\n    \"type\": \"emoji\",\n    \"emoji\": \"{{ $('Choose Default Emoji').item.json.emoji }}\"\n  },\n  \"cover\": {\n    \"type\": \"external\",\n    \"external\": {\n      \"url\": \"{{ $json.picurl }}\"\n    }\n  }\n}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi"
      },
      "credentials": {
        "notionApi": {
          "id": "vzkfqpXoemvuf3bL",
          "name": "Notion account"
        }
      },
      "executeOnce": false,
      "typeVersion": 4.2
    },
    {
      "id": "86a4c412-173a-4bcb-9973-5e836c379c68",
      "name": "Choose Default Emoji",
      "type": "n8n-nodes-base.code",
      "position": [
        1100,
        480
      ],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n\nconst emojiStr = \"\ud83d\ude00\ud83d\ude03\ud83d\ude04\ud83d\ude01\ud83d\ude06\ud83d\ude05\ud83d\ude02\ud83e\udd23\ud83d\ude0a\ud83d\ude07\ud83d\ude42\ud83d\ude43\ud83d\ude09\ud83d\ude0c\ud83d\ude0d\ud83e\udd70\ud83d\ude18\ud83d\ude17\ud83d\ude19\ud83d\ude1a\ud83d\ude0b\ud83d\ude1b\ud83d\ude1d\ud83d\ude1c\ud83e\udd2a\ud83e\udd28\ud83e\uddd0\ud83e\udd13\ud83d\ude0e\ud83e\udd78\ud83e\udd29\ud83e\udd73\ud83d\ude0f\ud83d\ude12\ud83d\ude1e\ud83d\ude14\ud83d\ude1f\ud83d\ude15\ud83d\ude41\u2639\ufe0f\ud83d\ude23\ud83d\ude16\ud83d\ude2b\ud83d\ude29\ud83e\udd7a\ud83d\ude22\ud83d\ude2d\ud83d\ude24\ud83d\ude20\ud83d\ude21\ud83e\udd2c\ud83d\ude31\ud83d\ude28\ud83d\ude30\ud83d\ude25\ud83d\ude13\ud83e\udd17\ud83e\udd14\ud83e\udd2d\ud83e\udd2b\ud83d\ude36\ud83d\ude36\ud83c\udf2b\ufe0f\ud83d\ude10\ud83d\ude11\ud83d\ude2c\ud83d\ude44\ud83d\ude2f\ud83d\ude26\ud83d\ude27\ud83d\ude2e\ud83d\ude32\ud83e\udd71\ud83d\ude34\ud83e\udd24\ud83d\ude2a\ud83d\ude35\ud83d\ude35\ud83d\udcab\ud83e\udd2f\ud83d\udc4b\ud83e\udd1a\ud83d\udd90\u270b\ud83d\udd96\ud83d\udc4c\ud83e\udd0c\ud83e\udd0f\u270c\ufe0f\ud83e\udd1e\ud83e\udd1f\ud83e\udd18\ud83e\udd19\ud83d\udc48\ud83d\udc49\ud83d\udc46\ud83d\udc47\ud83d\udd95\ud83d\udc4d\ud83d\udc4e\u270a\ud83d\udc4a\ud83e\udd1b\ud83e\udd1c\ud83d\udc4f\ud83d\ude4c\ud83d\udc50\ud83e\udd32\ud83e\udd1d\ud83d\udc42\ud83e\uddbb\ud83d\udc43\ud83d\udc76\ud83d\udc67\ud83d\udc66\ud83d\udc69\ud83d\udc68\ud83d\udc75\ud83d\udc74\ud83d\udc72\ud83d\udc73\ud83e\uddd5\ud83d\udc6e\ud83d\udc77\ud83d\udc82\ud83d\udd75\ufe0f\ud83d\udc69\u2695\ufe0f\ud83d\udc68\u2695\ufe0f\ud83d\udc69\ud83c\udf93\ud83d\udc68\ud83c\udf93\ud83d\udc69\ud83c\udfeb\ud83d\udc68\ud83c\udfeb\ud83d\udc69\u2696\ufe0f\ud83d\udc68\u2696\ufe0f\ud83d\udc69\ud83c\udf3e\ud83d\udc68\ud83c\udf3e\ud83d\udc69\ud83c\udf73\ud83d\udc68\ud83c\udf73\ud83d\udc69\ud83d\udd27\ud83d\udc68\ud83d\udd27\ud83d\udc69\ud83c\udfed\ud83d\udc68\ud83c\udfed\ud83d\udc69\ud83d\udcbb\ud83d\udc68\ud83d\udcbb\ud83d\udc69\ud83c\udfa4\ud83d\udc68\ud83c\udfa4\ud83d\udc69\ud83c\udfa8\ud83d\udc68\ud83c\udfa8\ud83d\udc69\u2708\ufe0f\ud83d\udc68\u2708\ufe0f\ud83d\udc69\ud83d\ude80\ud83d\udc68\ud83d\ude80\ud83d\udc69\ud83d\ude92\ud83d\udc68\ud83d\ude92\ud83d\udc78\ud83e\udd34\ud83d\udc70\ud83e\udd35\ud83d\udc7c\ud83c\udf85\ud83e\udd36\ud83e\uddb8\ud83e\uddb9\ud83e\uddd9\ud83e\uddda\ud83e\udddb\ud83e\udddc\ud83e\udddd\ud83d\udc86\ud83d\udc87\ud83d\udeb6\ud83c\udfc3\ud83d\udc83\ud83d\udd7a\ud83d\udc6f\ud83e\uddd6\ud83e\uddd7\ud83c\udfc7\ud83c\udfc2\ud83c\udfcc\ufe0f\ud83c\udfc4\ud83d\udea3\ud83c\udfca\u26f9\ufe0f\ud83c\udfcb\ufe0f\ud83d\udeb4\ud83d\udeb5\ud83e\udd38\ud83e\udd3c\ud83e\udd3d\ud83e\udd3e\ud83d\udc6b\ud83d\udc6d\ud83d\udc6c\ud83d\udc8f\ud83d\udc91\ud83d\udc6a\ud83d\udc35\ud83d\udc12\ud83e\udd8d\ud83d\udc36\ud83d\udc15\ud83d\udc29\ud83d\udc3a\ud83e\udd8a\ud83d\udc31\ud83d\udc08\ud83e\udd81\ud83d\udc2f\ud83d\udc05\ud83d\udc06\ud83d\udc34\ud83e\udd84\ud83e\udd93\ud83e\udd8c\ud83d\udc2e\ud83d\udc37\ud83d\udc17\ud83d\udc2d\ud83d\udc01\ud83d\udc39\ud83d\udc30\ud83d\udc07\ud83d\udc26\ud83d\udc27\ud83e\udd85\ud83e\udd86\ud83e\udd89\ud83d\udc38\ud83d\udc0a\ud83d\udc22\ud83e\udd8e\ud83d\udc0d\ud83d\udc32\ud83d\udc09\ud83e\udd95\ud83e\udd96\ud83d\udc33\ud83d\udc0b\ud83d\udc2c\ud83d\udc1f\ud83d\udc20\ud83d\udc21\ud83e\udd88\ud83d\udc19\ud83e\udd91\ud83e\udd9e\ud83e\udd80\ud83e\udd90\ud83d\udc0c\ud83e\udd8b\ud83d\udc1b\ud83d\udc1c\ud83d\udc1d\ud83e\udeb2\ud83d\udc1e\ud83e\udd97\ud83d\udd77\ufe0f\ud83d\udd78\ufe0f\ud83e\udd82\ud83d\udc90\ud83c\udf38\ud83c\udf39\ud83e\udd40\ud83c\udf3a\ud83c\udf3b\ud83c\udf3c\ud83c\udf37\ud83c\udf31\ud83c\udf3f\ud83c\udf40\ud83c\udf41\ud83c\udf42\ud83c\udf43\ud83c\udf47\ud83c\udf48\ud83c\udf49\ud83c\udf4a\ud83c\udf4b\ud83c\udf4c\ud83c\udf4d\ud83e\udd6d\ud83c\udf4e\ud83c\udf4f\ud83c\udf50\ud83c\udf51\ud83c\udf52\ud83c\udf53\ud83e\uded0\ud83e\udd5d\ud83c\udf45\ud83e\udd65\ud83e\udd51\ud83c\udf46\ud83e\udd54\ud83e\udd55\ud83c\udf3d\ud83c\udf36\ufe0f\ud83e\uded1\ud83e\udd52\ud83e\udd6c\ud83e\udd66\ud83e\uddc4\ud83e\uddc5\ud83c\udf44\ud83e\udd5c\ud83c\udf30\ud83c\udf5e\ud83e\udd50\ud83e\udd56\ud83e\uded3\ud83e\udd68\ud83e\udd6f\ud83e\udd5e\ud83e\uddc7\ud83e\uddc0\ud83c\udf56\ud83c\udf57\ud83e\udd69\ud83e\udd53\ud83c\udf54\ud83c\udf5f\ud83c\udf55\ud83c\udf2d\ud83e\udd6a\ud83c\udf2e\ud83c\udf2f\ud83e\uded4\ud83e\udd59\ud83e\uddc6\ud83e\udd5a\ud83c\udf73\ud83e\udd58\ud83c\udf72\ud83e\uded5\ud83e\udd63\ud83e\udd57\ud83c\udf7f\ud83e\uddc8\ud83e\uddc2\ud83e\udd6b\ud83c\udf71\ud83c\udf58\ud83c\udf59\ud83c\udf5a\ud83c\udf5b\ud83c\udf5c\ud83c\udf5d\ud83c\udf60\ud83c\udf62\ud83c\udf63\ud83c\udf64\ud83c\udf65\ud83e\udd6e\ud83c\udf61\ud83e\udd5f\ud83e\udd60\ud83e\udd61\ud83c\udf66\ud83c\udf67\ud83c\udf68\ud83c\udf69\ud83c\udf6a\ud83c\udf82\ud83c\udf70\ud83e\uddc1\ud83e\udd67\ud83c\udf6b\ud83c\udf6c\ud83c\udf6d\ud83c\udf6e\ud83c\udf6f\ud83c\udf7c\ud83e\udd5b\u2615\ud83e\uded6\ud83c\udf75\ud83c\udf76\ud83c\udf7e\ud83c\udf77\ud83c\udf78\ud83c\udf79\ud83c\udf7a\ud83c\udf7b\ud83e\udd42\ud83e\udd43\ud83e\uded7\ud83e\udd64\ud83e\uddcb\ud83e\uddc3\ud83e\uddc9\ud83e\uddca\ud83e\udd62\ud83c\udf7d\ufe0f\ud83c\udf74\ud83e\udd44\ud83d\udd2a\ud83c\udffa\ud83c\udf0d\ud83c\udf0e\ud83c\udf0f\ud83c\udf10\ud83d\uddfa\ufe0f\ud83e\udded\ud83c\udfd4\ufe0f\u26f0\ufe0f\ud83c\udf0b\ud83c\udfd5\ufe0f\ud83c\udfd6\ufe0f\ud83c\udfdc\ufe0f\ud83c\udfdd\ufe0f\ud83c\udfde\ufe0f\ud83c\udfdf\ufe0f\ud83c\udfdb\ufe0f\ud83c\udfd7\ufe0f\ud83e\uddf1\ud83d\uded6\ud83c\udfd8\ufe0f\ud83c\udfe0\ud83c\udfe1\ud83c\udfe2\ud83c\udfe3\ud83c\udfe4\ud83c\udfe5\ud83c\udfe6\ud83c\udfe8\ud83c\udfe9\ud83c\udfea\ud83c\udfeb\ud83c\udfec\ud83c\udfed\ud83c\udfef\ud83c\udff0\ud83d\udc92\ud83d\uddfc\ud83d\uddfd\u26ea\ud83d\udd4c\ud83d\udd4d\u26e9\ufe0f\ud83d\udd4b\u26f2\u26fa\ud83c\udf01\ud83c\udf03\ud83c\udfd9\ufe0f\ud83c\udf04\ud83c\udf05\ud83c\udf06\ud83c\udf09\u2668\ufe0f\ud83c\udfa0\ud83c\udfa1\ud83c\udfa2\ud83d\udc88\ud83c\udfaa\ud83d\ude82\ud83d\ude83\ud83d\ude84\ud83d\ude85\ud83d\ude86\ud83d\ude87\ud83d\ude88\ud83d\ude89\ud83d\ude8a\ud83d\ude9d\ud83d\ude9e\ud83d\ude8b\ud83d\ude8c\ud83d\ude8d\ud83d\ude8e\ud83d\ude90\ud83d\ude91\ud83d\ude92\ud83d\ude93\ud83d\ude94\ud83d\ude95\ud83d\ude96\ud83d\ude97\ud83d\ude98\ud83d\ude99\ud83d\udefb\ud83d\ude9a\ud83d\ude9b\ud83d\ude9c\ud83c\udfce\ufe0f\ud83c\udfcd\ufe0f\ud83d\udef5\ud83e\uddbd\ud83e\uddbc\ud83d\udefa\ud83d\udeb2\ud83d\udef4\ud83d\udef9\ud83d\udefc\ud83d\ude8f\ud83d\udee3\ufe0f\ud83d\udee4\ufe0f\u26fd\ud83d\udea8\ud83d\udea5\ud83d\udea6\ud83d\uded1\ud83d\udea7\u2693\u26f5\ud83d\udef6\ud83d\udea4\ud83d\udef3\ufe0f\u26f4\ufe0f\ud83d\udee5\ufe0f\ud83d\udea2\u2708\ufe0f\ud83d\udee9\ufe0f\ud83d\udeeb\ud83d\udeec\ud83e\ude82\ud83d\ude81\ud83d\ude9f\ud83d\udea0\ud83d\udea1\ud83d\udef0\ufe0f\ud83d\ude80\ud83d\udef8\ud83d\udece\ufe0f\ud83e\uddf3\u231b\u23f3\u231a\u23f0\u23f1\ufe0f\u23f2\ufe0f\ud83d\udd70\ufe0f\ud83c\udf11\ud83c\udf12\ud83c\udf13\ud83c\udf14\ud83c\udf15\ud83c\udf16\ud83c\udf17\ud83c\udf18\ud83c\udf19\ud83c\udf1a\ud83c\udf1b\ud83c\udf1c\ud83c\udf21\ufe0f\u2600\ufe0f\ud83c\udf1d\ud83c\udf1e\u2b50\ud83c\udf1f\ud83c\udf20\u2601\ufe0f\u26c5\ud83c\udf24\ufe0f\ud83c\udf25\ufe0f\ud83c\udf26\ufe0f\ud83c\udf27\ufe0f\ud83c\udf28\ufe0f\ud83c\udf29\ufe0f\ud83c\udf2a\ufe0f\ud83c\udf2b\ufe0f\ud83c\udf2c\ufe0f\ud83c\udf00\ud83c\udf08\ud83c\udf02\u2602\ufe0f\u2614\u26f1\ufe0f\u26a1\u2744\ufe0f\u2603\ufe0f\u26c4\u2604\ufe0f\ud83d\udd25\ud83d\udca7\ud83c\udf0a\ud83c\udf83\ud83c\udf84\ud83c\udf86\ud83c\udf87\u2728\ud83c\udf88\ud83c\udf89\ud83c\udf8a\ud83c\udf8b\ud83c\udf8d\ud83c\udf8e\ud83c\udf8f\ud83c\udf90\ud83c\udf91\ud83e\udde7\ud83c\udf80\ud83c\udf81\ud83c\udf97\ufe0f\ud83c\udf9f\ufe0f\ud83c\udfab\ud83c\udfc6\ud83c\udfc5\ud83e\udd47\ud83e\udd48\ud83e\udd49\u26bd\u26be\ud83e\udd4e\ud83c\udfc0\ud83c\udfd0\ud83c\udfc8\ud83c\udfc9\ud83c\udfbe\ud83e\udd4f\ud83c\udfb3\ud83c\udfcf\ud83c\udfd1\ud83c\udfd2\ud83e\udd4d\ud83c\udfd3\ud83c\udff8\ud83e\udd4a\ud83e\udd4b\u26f3\ud83c\udfa3\ud83e\udd3f\ud83c\udfbd\ud83c\udfbf\ud83d\udef7\ud83e\udd4c\ud83c\udfaf\ud83e\ude80\ud83e\ude81\ud83c\udfb1\ud83d\udd2e\ud83e\ude84\ud83c\udfae\ud83d\udd79\ufe0f\ud83c\udfb0\ud83c\udfb2\ud83e\udde9\ud83e\uddf8\ud83e\ude85\ud83e\udea9\ud83e\ude86\u2660\ufe0f\u2665\ufe0f\u2666\ufe0f\u2663\ufe0f\ud83c\udccf\ud83c\udc04\ud83c\udfb4\ud83c\udfad\ud83d\uddbc\ufe0f\ud83c\udfa8\ud83e\uddf5\ud83e\udea1\ud83e\uddf6\ud83e\udea2\ud83d\udc53\ud83d\udd76\ufe0f\ud83e\udd7d\ud83e\udd7c\ud83e\uddba\ud83d\udc54\ud83d\udc55\ud83d\udc56\ud83e\udde3\ud83e\udde4\ud83e\udde5\ud83e\udde6\ud83d\udc57\ud83d\udc58\ud83e\udd7b\ud83e\ude71\ud83e\ude72\ud83e\ude73\ud83d\udc59\ud83d\udc5a\ud83d\udc5b\ud83d\udc5c\ud83d\udc5d\ud83c\udf92\ud83e\ude74\ud83d\udc5e\ud83d\udc5f\ud83e\udd7e\ud83e\udd7f\ud83d\udc60\ud83d\udc61\ud83e\ude70\ud83d\udc62\ud83d\udc51\ud83d\udc52\ud83c\udfa9\ud83c\udf93\ud83e\udde2\ud83e\ude96\u26d1\ufe0f\ud83d\udcff\ud83d\udc84\ud83d\udc8d\ud83d\udc8e\ud83d\udd07\ud83d\udd08\ud83d\udd09\ud83d\udd0a\ud83d\udce2\ud83d\udce3\ud83d\udcef\ud83d\udd14\ud83d\udd15\ud83c\udfbc\ud83c\udfb5\ud83c\udfb6\ud83c\udf99\ufe0f\ud83c\udf9a\ufe0f\ud83c\udf9b\ufe0f\ud83c\udfa4\ud83c\udfa7\ud83d\udcfb\ud83c\udfb7\ud83e\ude97\ud83c\udfb8\ud83c\udfb9\ud83c\udfba\ud83c\udfbb\ud83e\ude95\ud83e\udd41\ud83e\ude98\ud83d\udcf1\ud83d\udcf2\u260e\ufe0f\ud83d\udcde\ud83d\udcdf\ud83d\udce0\ud83d\udd0b\ud83e\udeab\ud83d\udd0c\ud83d\udcbb\ud83d\udda5\ufe0f\ud83d\udda8\ufe0f\u2328\ufe0f\ud83d\uddb1\ufe0f\ud83d\uddb2\ufe0f\ud83d\udcbd\ud83d\udcbe\ud83d\udcbf\ud83d\udcc0\ud83e\uddee\ud83c\udfa5\ud83c\udf9e\ufe0f\ud83d\udcfd\ufe0f\ud83c\udfac\ud83d\udcfa\ud83d\udcf7\ud83d\udcf8\ud83d\udcf9\ud83d\udcfc\ud83d\udd0d\ud83d\udd0e\ud83d\udd6f\ufe0f\ud83d\udca1\ud83d\udd26\ud83c\udfee\ud83e\ude94\ud83d\udcd4\ud83d\udcd5\ud83d\udcd6\ud83d\udcd7\ud83d\udcd8\ud83d\udcd9\ud83d\udcda\ud83d\udcd3\ud83d\udcd2\ud83d\udcc3\ud83d\udcdc\ud83d\udcc4\ud83d\udcf0\ud83d\uddde\ufe0f\ud83d\udcd1\ud83d\udd16\ud83c\udff7\ufe0f\ud83d\udcb0\ud83d\udcb8\ud83d\udcb3\ud83e\uddfe\ud83d\udcb9\u2709\ufe0f\ud83d\udce7\ud83d\udce8\ud83d\udce9\ud83d\udce4\ud83d\udce5\ud83d\udce6\ud83d\udceb\ud83d\udcea\ud83d\udcec\ud83d\udced\ud83d\udcee\ud83d\uddf3\ufe0f\u270f\ufe0f\u2712\ufe0f\ud83d\udcdd\ud83d\udcc2\ud83d\uddc2\ufe0f\ud83d\uddd3\ufe0f\ud83d\udcc7\ud83d\udccb\ud83d\udccc\ud83d\udccd\ud83d\udcce\ud83d\udd87\ufe0f\ud83d\udccf\ud83d\udcd0\u2702\ufe0f\ud83d\uddc3\ufe0f\ud83d\uddc4\ufe0f\ud83d\uddd1\ufe0f\ud83d\udd12\ud83d\udd13\ud83d\udd0f\ud83d\udd10\ud83d\udd11\ud83d\udddd\ufe0f\ud83d\udd28\ud83e\ude93\u26cf\ufe0f\u2692\ufe0f\ud83d\udee0\ufe0f\ud83d\udde1\ufe0f\u2694\ufe0f\ud83d\udd2b\ud83e\ude83\ud83c\udff9\ud83d\udee1\ufe0f\ud83e\ude9a\ud83d\udd27\ud83e\ude9b\ud83d\udd29\u2699\ufe0f\ud83d\udddc\ufe0f\u2696\ufe0f\ud83e\uddaf\ud83d\udd17\u26d3\ufe0f\ud83e\ude9d\ud83e\uddf0\ud83e\uddf2\ud83e\ude9c\u2697\ufe0f\ud83e\uddea\ud83e\uddeb\ud83e\uddec\ud83d\udd2c\ud83d\udd2d\ud83d\udce1\ud83d\udc89\ud83e\ude78\ud83d\udc8a\ud83e\ude79\ud83e\ude7c\ud83e\ude7a\ud83e\ude7b\ud83d\udeaa\ud83d\uded7\ud83e\ude9e\ud83e\ude9f\ud83d\udecf\ufe0f\ud83d\udecb\ufe0f\ud83e\ude91\ud83d\udebd\ud83e\udea0\ud83d\udebf\ud83d\udec1\ud83e\udea4\ud83e\ude92\ud83e\uddf4\ud83e\uddf7\ud83e\uddf9\ud83e\uddfa\ud83e\uddfb\ud83e\udea3\ud83e\uddfc\ud83e\udee7\ud83e\udea5\ud83e\uddfd\ud83e\uddef\ud83d\uded2\ud83d\udeac\u26b0\ufe0f\ud83e\udea6\u26b1\ufe0f\ud83d\uddff\ud83e\udea7\ud83e\udeaa\u23cf\ufe0f\ud83c\udfa6\ud83d\udd05\ud83d\udd06\ud83d\udcb2\u2695\ufe0f\u267b\ufe0f\u269c\ufe0f\ud83d\udd31\ud83d\udcdb\ud83d\udd30\u2b55\u2705\u2611\ufe0f\u2714\ufe0f\u274c\u274e\u27b0\u27bf\u303d\ufe0f\u2733\ufe0f\u2734\ufe0f\u2747\ufe0f\ud83c\udd7f\ufe0f\ud83c\udd98\ud83c\udd99\ud83c\udd9a\ud83d\udea9\"\n\n\nfor (const item of $input.all()) {\n  item.json.emoji = item.json.emoji;\n    if(item.json.emoji == undefined){\n            const emojiArr = Array.from(emojiStr);\n          let randomIndex = Math.floor(Math.random() * emojiArr.length);\n      console.log(emojiArr[randomIndex])\n    item.json.emoji = emojiArr[randomIndex];\n  }\n\n}\n\n\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "a045cdb6-4597-46eb-8536-c9458a51a92a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        260
      ],
      "parameters": {
        "content": "## Default Emoji\nif AI choose is fail,it's will use random emoji"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83f76eb8-0f40-4348-bf56-0b0b960b1516",
  "connections": {
    "emoji": {
      "main": [
        [
          {
            "node": "Get Notion Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "picurl": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Random Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Number": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Choose Default Emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Title": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Page": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Default Emoji": {
      "main": [
        [
          {
            "node": "picurl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Auto Icon & Cover for New Notion Pages",
    "used_count": 3,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/5141",
    "scraped_at": "2025-08-17 18:41:54"
  }
}