workflows/Create_a_website_screenshot_and_send_via_Telegram_Channel.json
{
  "id": "191",
  "name": "Create a screenshot of a website and send it to a telegram channel",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        650,
        300
      ],
      "parameters": {
        "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
        "chatId": "",
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "Telegram n8n bot"
      },
      "typeVersion": 1
    },
    {
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://n8n.io",
        "tool": "getUrlScreenshot",
        "group": "image",
        "width": "1024",
        "fullpage": "yes",
        "additionalOptions": {}
      },
      "credentials": {
        "uprocApi": "uProc credentials"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "uProc": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Create a website screenshot and send via Telegram Channel",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/858",
    "scraped_at": "2025-08-20 22:25:03",
    "workflow_id": "13f28228-449b-5ba2-8f37-015be525d0a9"
  },
  "_filename": "Create_a_website_screenshot_and_send_via_Telegram_Channel.json"
}