workflows/Create_or_update_a_post_in_WordPress.json
{
  "id": "60",
  "name": "Create a post and update the post in WordPress",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        570,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        770,
        260
      ],
      "parameters": {
        "title": "created from n8n",
        "additionalFields": {}
      },
      "credentials": {
        "wordpressApi": "wordpress"
      },
      "typeVersion": 1
    },
    {
      "name": "Wordpress1",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        970,
        260
      ],
      "parameters": {
        "postId": "={{$node[\"Wordpress\"].json[\"id\"]}}",
        "operation": "update",
        "updateFields": {
          "content": "This post was created using the n8n workflow."
        }
      },
      "credentials": {
        "wordpressApi": "wordpress"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Wordpress": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Create or update a post in WordPress",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/668",
    "scraped_at": "2025-08-20 21:25:10",
    "workflow_id": "d15c22f0-d5fb-5256-b7ab-5e8329a269a3"
  },
  "_filename": "Create_or_update_a_post_in_WordPress.json"
}