workflows/Create_update_and_get_an_object_from_Bubble.json
{
  "nodes": [
    {
      "name": "Bubble",
      "type": "n8n-nodes-base.bubble",
      "position": [
        450,
        280
      ],
      "parameters": {
        "typeName": "Doc",
        "operation": "create",
        "properties": {
          "property": [
            {
              "key": "Name",
              "value": "Bubble"
            }
          ]
        }
      },
      "credentials": {
        "bubbleApi": "Bubble API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Bubble1",
      "type": "n8n-nodes-base.bubble",
      "position": [
        650,
        280
      ],
      "parameters": {
        "objectId": "={{$json[\"id\"]}}",
        "typeName": "={{$node[\"Bubble\"].parameter[\"typeName\"]}}",
        "operation": "update",
        "properties": {
          "property": [
            {
              "key": "Name",
              "value": "Bubble node"
            }
          ]
        }
      },
      "credentials": {
        "bubbleApi": "Bubble API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Bubble2",
      "type": "n8n-nodes-base.bubble",
      "position": [
        850,
        280
      ],
      "parameters": {
        "objectId": "={{$node[\"Bubble\"].json[\"id\"]}}",
        "typeName": "={{$node[\"Bubble\"].parameter[\"typeName\"]}}"
      },
      "credentials": {
        "bubbleApi": "Bubble API Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Bubble": {
      "main": [
        [
          {
            "node": "Bubble1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bubble1": {
      "main": [
        [
          {
            "node": "Bubble2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Create, update, and get an object from Bubble",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/1041",
    "scraped_at": "2025-08-20 22:44:16",
    "workflow_id": "39f10094-e2dd-55f1-b4d6-84defff259e0"
  },
  "_filename": "Create_update_and_get_an_object_from_Bubble.json"
}