workflows/Daily_Task_Reminder_System_Airtable_to_Slack_Automated_Notifications.json
{
  "id": "VD33glAyNpCqgiAx",
  "meta": {
    "instanceId": "18b0d04ad5030054be4ab49562e84ea4a079ab4cb036003697394140227c7e76",
    "templateId": "5672"
  },
  "name": "Daily Task Reminder System: Airtable to Slack Automated Notifications",
  "tags": [],
  "nodes": [
    {
      "id": "5ce69b0e-4828-430c-a254-a690947fab76",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        960,
        1072
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c5dafe8d-4e21-46ac-8f78-f27b1128b434",
      "name": "Search records",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1072,
        2032
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appPk6zfIQ1EbBq43",
          "cachedResultUrl": "https://airtable.com/appPk6zfIQ1EbBq43",
          "cachedResultName": "T\u00e2ches"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblLkuoQ9AYsAQ0io",
          "cachedResultUrl": "https://airtable.com/appPk6zfIQ1EbBq43/tblLkuoQ9AYsAQ0io",
          "cachedResultName": "Produits"
        },
        "options": {},
        "operation": "search",
        "filterByFormula": "={Statut} = \"En cours\""
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "3eA5YxuBJCqT2R3I",
          "name": "Airtable Personal Access Token account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "e04b65a2-6c37-4595-b815-987946e6290b",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1136,
        3440
      ],
      "webhookId": "e25887fe-9fe2-4750-824d-3e3cf706dd6a",
      "parameters": {
        "text": "=New task for {{ $json.name }}: *{{ $json[\"Titre\"] }}* \ud83d\udc49 Deadline: {{ $json[\"Date limite\"] }}\n",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0945G1M3T2",
          "cachedResultName": "tous-n8n"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.3
    },
    {
      "id": "8ccb049d-aa1b-487c-a38a-2062a7215f0d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "parameters": {
        "width": 1000,
        "height": 3760,
        "content": "# Still reminding people about their tasks manually every morning?\n\nLet\u2019s be honest \u2014 who wants to start the day chasing teammates about what they need to do?\n\nWhat if Slack could do it for you \u2014 automatically, at 9 a.m. every day \u2014 without missing anything, and without you lifting a finger?\n\nIn this tutorial, you\u2019ll build a simple automation with n8n that checks Airtable for active tasks and sends reminders in Slack, daily.\n\nHere\u2019s the flow you\u2019ll build:\n\n**Schedule Trigger \u2192 Search Records (Airtable) \u2192 Send Message (Slack)**\n\n## STEP 1 : Set up your Airtable base\n\nCreate a new base called Tasks\n\nAdd a table (for example: Projects, To-Do, or anything relevant)\n\nAdd the following fields:\n\n| Field| Type| Example|\n| -------- | ----------------- | ------------------------------------------- |\n| Title    | Text              | Finalize quote for Client A                 |\n| Assignee | Text              | Baptiste Fort                               |\n| Email    | Email             | [claire@email.com](mailto:claire@email.com) |\n| Status   | Single select     | In Progress / Done                          |\n| Due Date | Date (dd/mm/yyyy) | 05/07/2025                                  |\n\nAdd a few sample tasks with the status In Progress so you can test your workflow later.\n\n## STEP 2 Create the trigger in n8n\n\nIn n8n, add a Schedule Trigger node\n\nSet it to run every day at 9:00 a.m.:\n\nTrigger interval: Days\n\nDays Between Triggers: 1\n\nTrigger at hour: 9\n\nTrigger at minute: 0\n\nThis is the node that kicks off the workflow every morning.\n\n## STEP 3 : Search for active tasks in Airtable\n\nThis step is all about connecting n8n to your Airtable base and pulling the tasks that are still marked as \"In Progress\".\n\n**1. Add the Airtable node**\n\nIn your n8n workflow, add a node called:\n\nAirtable \u2192 Search Records\n\nYou can find it by typing \"airtable\" in the node search.\n\n**2. Create your Airtable Personal Access Token**\n\n\nIf you haven\u2019t already created your Airtable token, here\u2019s how:\n\n\ud83d\udd17 Go to: [https://airtable.com/create/tokens](https://airtable.com/create/tokens)\n\nThen:\n\nName your token something like TACHES\n\nUnder Scopes, check:\n\n\u2705 data.records:read\n\nUnder Access, select only the base you want to use (e.g. \u201cT\u00e2ches\u201d)\n\nClick \u201cSave token\u201d\n\nCopy the personal token\n\n**3. Set up the Airtable credentials in n8n**\n\nIn the Airtable node:\n\nClick on the Credentials field\n\nSelect: Airtable Personal Access Token\n\nClick Create New\n\nPaste your token\n\nGive it a name like: My Airtable Token\n\nClick Save\n\n**4. Configure the node**\n\u00b2\nNow fill in the parameters:\n\nBase: T\u00e2ches\n\nTable: Produits (or T\u00e2ches, depending on what you called it)\n\nOperation: Search\n\nFilter By Formula:\n\n{Statut} = \"En cours\"\n\nReturn All: \u2705 Yes (make sure it\u2019s enabled)\n\nOutput Format: Simple\n\n**5. Test the node**\n\nClick \u201cExecute Node\u201d.\n\nYou should now see all tasks with Statut = \"En cours\" show up in the output (on the right-hand side of your screen), just like in your screenshot.\n\n## STEP 4: Send each task to Slack\n\nNow that we\u2019ve fetched all the active tasks from Airtable, let\u2019s send them to Slack \u2014 one by one \u2014 using a loop.\n\n### Add the Slack node\nDrag a new node into your n8n workflow and select:\n\nSlack \u2192 Message\n\nName it something like Send Slack Message\n\nYou can find it quickly by typing \"Slack\" into the node search bar.\n\n### Connect your Slack account\nIf you haven't already connected your Slack credentials:\n\nGo to n8n \u2192 Credentials\n\nSelect Slack API\n\nClick Create new\n\nPaste your Slack Bot Token (from your Slack App OAuth settings)\n\nGive it a clear name like Slack Bot n8n\n\nChoose the workspace and save\n\nThen, in the Slack node, choose this credential from the dropdown.\n\n### Configure the message\nSet these parameters:\n\nOperation: Send\n\nSend Message To: Channel\n\nChannel: your Slack channel (e.g. #tous-n8n)\n\nMessage Type: Simple Text Message\n\nMessage template\nPaste the following inside the Message Text field:\n\n### Message template\n\nPaste the following inside the Message Text field: New task for {{ $json.name }}: *{{ $json[\"Titre\"] }}* \ud83d\udc49 Deadline: {{ $json[\"Date limite\"] }}\n\nExample output:\n\nNew task for Jeremy: Relancer fournisseur X \ud83d\udc49 Deadline: 2025-07-04\n\n### Test it\n\nClick Execute Node to verify the message is correctly sent in Slack.\n\nIf the formatting works, you\u2019re ready to run it on schedule \ud83d\ude80\n\n\n\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {},
  "versionId": "5cc20f12-15ce-41c2-8547-332d2d451174",
  "connections": {
    "Search records": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Daily Task Reminder System: Airtable to Slack Automated Notifications",
    "used_count": 79,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/5672",
    "scraped_at": "2025-08-17 15:27:55"
  }
}