workflows/Discover_Professional_Emails_with_uProc_and_Send_via_Telegram.json
{
  "id": "144",
  "name": "Discover Email",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        370,
        470
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        940,
        470
      ],
      "parameters": {
        "text": "=User {{$node[\"Get Email\"].json[\"params\"][\"firstname\"]}} {{$node[\"Get Email\"].json[\"params\"][\"lastname\"]}} has next email on {{$node[\"Get Email\"].json[\"params\"][\"domain\"]}}: {{$node[\"Get Email\"].json[\"message\"][\"email\"]}} ({{$node[\"Get Email\"].json[\"message\"][\"confidence\"]}} - {{$node[\"Get Email\"].json[\"message\"][\"score\"]}})",
        "chatId": "-1001235337538",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "it-killia-bot"
      },
      "typeVersion": 1
    },
    {
      "name": "Get Email",
      "type": "n8n-nodes-base.uproc",
      "position": [
        750,
        470
      ],
      "parameters": {
        "mode": "verify",
        "tool": "getEmailRecipient",
        "domain": "={{$node[\"Set Tool Parameters\"].json[\"domain\"]}}",
        "lastname": "={{$node[\"Set Tool Parameters\"].json[\"lastname\"]}}",
        "firstname": "={{$node[\"Set Tool Parameters\"].json[\"firstname\"]}}",
        "additionalOptions": {}
      },
      "credentials": {
        "uprocApi": "miquel-uproc"
      },
      "typeVersion": 1
    },
    {
      "name": "Set Tool Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        570,
        470
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "firstname",
              "value": "Miquel"
            },
            {
              "name": "lastname",
              "value": "Colomer"
            },
            {
              "name": "domain",
              "value": "uproc.io"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Get Email": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tool Parameters": {
      "main": [
        [
          {
            "node": "Get Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set Tool Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Discover Professional Emails with uProc and Send via Telegram",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/903",
    "scraped_at": "2025-08-21 04:10:18",
    "workflow_id": "6d7eca61-00f8-5a8d-ad75-f4ae6af1af02"
  },
  "_filename": "Discover_Professional_Emails_with_uProc_and_Send_via_Telegram.json"
}