workflows/Display_YouTube_Subscriber_Count_on_Ulanzi_AWTRIX_Smart_Clock.json
{
  "id": "AWTRIX_YT_Template",
  "name": "AWTRIX YouTube Subscriber Count",
  "tags": [
    "awtrix",
    "youtube",
    "iot",
    "dashboard",
    "smartclock"
  ],
  "nodes": [
    {
      "id": "trigger-hourly",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fetch-youtube-stats",
      "name": "Fetch YT Subscriber Count",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        240,
        0
      ],
      "parameters": {
        "url": "https://youtube.googleapis.com/youtube/v3/channels",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "YOUR_YOUTUBE_CHANNEL_ID"
            },
            {
              "name": "key",
              "value": "YOUR_YOUTUBE_API_KEY"
            },
            {
              "name": "part",
              "value": "statistics"
            }
          ]
        }
      },
      "typeVersion": 3
    },
    {
      "id": "send-to-awtrix",
      "name": "Send to AWTRIX",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        0
      ],
      "parameters": {
        "url": "http://YOUR_AWTRIX_IP/api/custom",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendQuery": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ Intl.NumberFormat('en-US', { notation: \"compact\", maximumFractionDigits: 2 }).format($json.items[0].statistics.subscriberCount) }}"
            },
            {
              "name": "icon",
              "value": "YOUR_ICON_ID"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "ytsubs"
            }
          ]
        }
      },
      "retryOnFail": true,
      "typeVersion": 3
    }
  ],
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch YT Subscriber Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YT Subscriber Count": {
      "main": [
        [
          {
            "node": "Send to AWTRIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Display YouTube Subscriber Count on Ulanzi AWTRIX Smart Clock",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/6591",
    "scraped_at": "2025-08-21 04:18:18",
    "workflow_id": "c1873e60-a04a-5a71-9653-82eb5429f138"
  },
  "_filename": "Display_YouTube_Subscriber_Count_on_Ulanzi_AWTRIX_Smart_Clock.json"
}