workflows/Generate_and_Auto_Evaluate_Facebook_Ad_Headlines_using_GPT_4o_mini.json
{
  "meta": {
    "instanceId": "741fe657cb1cf25e93c97c159943779bc83f3af267584292298f2b35e660e8e8",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "46a2c376-54c1-4c53-b757-87dcfe59eb3f",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2416,
        -240
      ],
      "webhookId": "1e4c49ff-4a3f-429b-9a93-781ab10f80f4",
      "parameters": {
        "message": "={{ $('Agent_HeadlineWriter').item.json.output }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "nSkndCmTyBtH8K8D",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "a9f75e9b-3802-45b3-a142-98046cb263a5",
      "name": "FormTrigger_CopywritingBrief",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -112,
        16
      ],
      "webhookId": "43eccd82-8552-4aab-8fa5-bdca37b2b512",
      "parameters": {
        "options": {},
        "formTitle": "Copywriting Agent",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your product about?",
              "requiredField": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "ca9b8fc6-63ba-409e-9038-30c1d744738b",
      "name": "Set_PromptForHeadline",
      "type": "n8n-nodes-base.set",
      "position": [
        96,
        48
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "e1ad4483-fb6d-4a4a-8589-615fbe8530c9",
              "name": "Prompt For Agent",
              "type": "string",
              "value": "Write a facebook ad headline for this product:"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "28693439-cc56-4e1d-844e-2045336978e7",
      "name": "LLM_HeadlineWriterModel",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        416,
        224
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "qsnsBCnLGZhV5Geh",
          "name": "n8n free OpenAI API credits"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c042dc35-18a7-4a74-babf-3565d464f259",
      "name": "Agent_HeadlineWriter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        448,
        0
      ],
      "parameters": {
        "text": "={{ $json['Prompt For Agent'] }}:{{ $('FormTrigger_CopywritingBrief').item.json['What is your product about?'] }}\n\n",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "f38e2143-4efe-4462-ba86-726e5236ea5e",
      "name": "LLM_EvalCriteriaModel",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        848,
        192
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "qsnsBCnLGZhV5Geh",
          "name": "n8n free OpenAI API credits"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "cf24aaad-b46d-4f9b-906f-94778c2df89a",
      "name": "LLM_HeadlineEvaluatorModel",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1248,
        208
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "qsnsBCnLGZhV5Geh",
          "name": "n8n free OpenAI API credits"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c89277bc-31cb-42f6-95f4-2a2bdf6c81f6",
      "name": "LLM_BottomLineModel",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1760,
        240
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "qsnsBCnLGZhV5Geh",
          "name": "n8n free OpenAI API credits"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "3b55ff10-af4b-4cf2-abea-50c23ea705e5",
      "name": "Agent_IterationDecision",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1776,
        0
      ],
      "parameters": {
        "text": "=Based on the bottom line:{{ $json.output }}\n\n\nDecide if we need another iteration.\nReturn NO if we dont,\notherwise return YES and add your feedback.",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "59e229e1-16f5-47bb-937b-d3ae6f7dbb13",
      "name": "If_NeedMoreIterations",
      "type": "n8n-nodes-base.if",
      "position": [
        2208,
        -160
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7f7d7b1c-e8ae-4a87-a8fe-43e32f270b64",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "NO"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b90344b9-71a3-4104-bb94-07c982265f01",
      "name": "Agent_HeadlineEvaluator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1344,
        0
      ],
      "parameters": {
        "text": "=Your goal is to asses the output of an AI agent.\nIt was supposed to:\n{{ $('Set_PromptForHeadline').item.json['Prompt For Agent'] }}\n\nThe answer it gave is:{{ $('Agent_HeadlineWriter').item.json.output }}\n\nProvide your response using these parameters:{{ $json.output }}. make sure you calculate your average and give a bottom line.",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "9f155a08-0f1f-47f2-8b10-07a90dfabb6d",
      "name": "Agent_EvalCriteriaBuilder",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        896,
        0
      ],
      "parameters": {
        "text": "=Your goal is to define parametes for assesing the output of this prompt:\n{{ $('Set_PromptForHeadline').item.json['Prompt For Agent'] }}\n\nWhich parameters would you suggest? give me 5 parameters including the scale. All should be in scale of 1-10 (10 will be the most positive)",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "2b447714-0276-4f34-82ce-5b50f7e750ae",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -672
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "=======================================\n            WORKFLOW ASSISTANCE\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n=======================================\n"
      },
      "typeVersion": 1
    },
    {
      "id": "9387af72-afe9-4c71-9efe-9d8d4f0b8885",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -272
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 1958,
        "content": "\ud83e\udde0 AUTOMATED FACEBOOK\u2011AD HEADLINE\u00a0GENERATOR & QUALITY\u00a0CHECK\nPowered by n8n\u202f+\u202fOpenAI\n\n\ud83d\udd39 SECTION\u00a01: Capture the Brief & Build the Prompt\n\ud83d\udcdd\u202fForm Trigger \u2192 \ud83d\udee0\ufe0f\u202fSet Prompt\n\nNode\tName\tIcon\tPurpose\n\ud83d\udcdd\tFormTrigger_CopywritingBrief\t\ud83d\udcdd\tWeb\u2011form the marketer fills in with a single question: \u201cWhat is your product about?\u201d\n\ud83d\udee0\ufe0f\tSet_PromptForHeadline\t\u2699\ufe0f\tPrepends the system command \u201cWrite a Facebook\u2011ad headline for this product:\u201d and stores it as Prompt\u00a0For\u00a0Agent\n\n\ud83d\udca1 Why it\u2019s useful\nThe workflow starts only when someone submits a product description and guarantees that every downstream LLM sees the exact same, well\u2011formatted prompt.\n\n\ud83d\udd39 SECTION\u00a02: Draft the Headline\n\ud83e\udd16\u202fHeadline LLM \u2192 \u270d\ufe0f\u202fHeadline Agent\n\nNode\tName\tIcon\tPurpose\n\ud83e\udd16\tLLM_HeadlineWriterModel\t\ud83d\udcac\tGPT\u20114o\u2011mini model credential; supplies horsepower to the agent.\n\u270d\ufe0f\tAgent_HeadlineWriter\t\u270d\ufe0f\tGenerates a first\u2011pass Facebook\u2011ad headline based on the prompt.\n\n\ud83d\udca1 Why it\u2019s useful\nInstantly produces a creative headline without human copywriting time.\n\n\ud83d\udd39 SECTION\u00a03: Create Scoring Criteria\n\ud83e\uddee\u202fEval\u2011Criteria LLM \u2192 \ud83d\udccb\u202fCriteria Agent\n\nNode\tName\tIcon\tPurpose\n\ud83e\udd16\tLLM_EvalCriteriaModel\t\ud83d\udcac\tSame model, new call.\n\ud83d\udccb\tAgent_EvalCriteriaBuilder\t\ud83d\udcd1\tInvents five 1\u2011to\u201110 scoring parameters (e.g., Clarity, Relevance, Hook Strength, Brand Voice, Scroll\u2011Stoppage).\n\n\ud83d\udca1 Why it\u2019s useful\nYou get an objective, repeatable rubric instead of hand\u2011wavy \u201clooks good / looks bad.\u201d\n\n\ud83d\udd39 SECTION\u00a04: Score the Headline\n\ud83e\udd16\u202fEvaluator LLM \u2192 \ud83d\udd0d\u202fEvaluator Agent\n\nNode\tName\tIcon\tPurpose\n\ud83e\udd16\tLLM_HeadlineEvaluatorModel\t\ud83d\udcac\tModel that powers evaluation step.\n\ud83d\udd0d\tAgent_HeadlineEvaluator\t\ud83d\udd0d\tApplies the five criteria to the headline, returns JSON with scores + average and a plain\u2011language bottom\u2011line sentence.\n\n\ud83d\udca1 Why it\u2019s useful\nTurns subjective quality into hard numbers you can track over time.\n\n\ud83d\udd39 SECTION\u00a05: Decide & (Optionally) Iterate\n\ud83e\udd16\u202fBottom\u2011Line LLM \u2192 \ud83d\udfe2/\ud83d\udd34\u202fIf\u00a0Node\n\nNode\tName\tIcon\tPurpose\n\ud83e\udd16\tLLM_BottomLineModel\t\ud83d\udcac\tReads the evaluator output.\n\u2705/\ud83d\udd04\tAgent_IterationDecision\t\ud83e\udd14\tReturns NO (accept) or YES + feedback (needs another draft).\n\ud83d\udd00\tIf_NeedMoreIterations\t\ud83d\udd00\tRoutes flow: NO \u2192 end; YES \u2192 loops headline back to Agent_HeadlineWriter for another try (loop wiring still TODO).\n\n\ud83d\udca1 Why it\u2019s useful\nEnsures only headlines that meet your quality bar move forward; poor ones auto\u2011iterate with AI feedback until they pass (or hit a loop limit you define).\n\n\ud83c\udf81 Benefits of This Workflow\n\u2705 One\u2011click form turns any product idea into a tested ad headline\n\u2705 Objective scoring rubric created on\u2011the\u2011fly \u2014 no need to pre\u2011author criteria\n\u2705 Automated re\u2011drafting saves copywriters\u2019 time and creative energy\n\u2705 Fully modular: swap prompt wording, add storage/email nodes, or set a max\u2011loop limit in minutes\n\u2705 Runs entirely inside your n8n instance \u2014 no scraping, no external APIs beyond OpenAI credentials\n\nNeed to store approved headlines or send them to a teammate? Just append a Google\u00a0Sheets or Email node after If_NeedMoreIterations \u2192 NO and you\u2019re done."
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "LLM_BottomLineModel": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_IterationDecision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent_HeadlineWriter": {
      "main": [
        [
          {
            "node": "Agent_EvalCriteriaBuilder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_NeedMoreIterations": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LLM_EvalCriteriaModel": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_EvalCriteriaBuilder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set_PromptForHeadline": {
      "main": [
        [
          {
            "node": "Agent_HeadlineWriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_HeadlineEvaluator": {
      "main": [
        [
          {
            "node": "Agent_IterationDecision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_IterationDecision": {
      "main": [
        [
          {
            "node": "If_NeedMoreIterations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_HeadlineWriterModel": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_HeadlineWriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent_EvalCriteriaBuilder": {
      "main": [
        [
          {
            "node": "Agent_HeadlineEvaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_HeadlineEvaluatorModel": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_HeadlineEvaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FormTrigger_CopywritingBrief": {
      "main": [
        [
          {
            "node": "Set_PromptForHeadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Generate and Auto-Evaluate Facebook Ad Headlines using GPT-4o-mini",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/6081",
    "scraped_at": "2025-08-21 04:02:05",
    "workflow_id": "79c02649-9d33-5000-9fe8-e6a8cebbb66b"
  },
  "_filename": "Generate_and_Auto_Evaluate_Facebook_Ad_Headlines_using_GPT_4o_mini.json"
}