workflows/Get_daily_poems_in_Telegram.json
{
  "id": "3",
  "name": "Daily poems in Telegram",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        -250,
        400
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        350,
        400
      ],
      "parameters": {
        "text": "=\u2712\ufe0f Poem of the day:\n{{$node[\"HTTP Request\"].json[\"0\"][\"title\"]}} by {{$node[\"HTTP Request\"].json[\"0\"][\"poet\"][\"name\"]}}\n\n{{$node[\"HTTP Request\"].json[\"0\"][\"content\"]}}\n\u2601\ufe0f",
        "chatId": "123456789",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "telegram_bot"
      },
      "typeVersion": 1
    },
    {
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -50,
        400
      ],
      "parameters": {
        "url": "https://www.poemist.com/api/v1/randompoems",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "LingvaNex",
      "type": "n8n-nodes-base.lingvaNex",
      "position": [
        150,
        400
      ],
      "parameters": {
        "text": "={{$node[\"HTTP Request\"].json[\"0\"][\"content\"]}}",
        "options": {},
        "translateTo": "en_GB"
      },
      "credentials": {
        "lingvaNexApi": "lingvanex_API"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LingvaNex": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "LingvaNex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Get daily poems in Telegram",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/975",
    "scraped_at": "2025-08-21 00:38:43",
    "workflow_id": "a587d16e-a20a-57ce-923d-05e50a3458d3"
  },
  "_filename": "Get_daily_poems_in_Telegram.json"
}