workflows/Get_all_the_stories_and_publish_them_in_Storyblok.json
{
  "id": "110",
  "name": "Get all the stories starting with `release` and publish them",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Storyblok",
      "type": "n8n-nodes-base.storyblok",
      "position": [
        450,
        300
      ],
      "parameters": {
        "space": 96940,
        "source": "managementApi",
        "filters": {
          "starts_with": "release"
        },
        "operation": "getAll"
      },
      "credentials": {
        "storyblokManagementApi": "storyblok-tanay"
      },
      "typeVersion": 1
    },
    {
      "name": "Storyblok1",
      "type": "n8n-nodes-base.storyblok",
      "position": [
        650,
        300
      ],
      "parameters": {
        "space": "={{$node[\"Storyblok\"].parameter[\"space\"]}}",
        "source": "managementApi",
        "options": {},
        "storyId": "={{$node[\"Storyblok\"].json[\"id\"]}}",
        "operation": "publish"
      },
      "credentials": {
        "storyblokManagementApi": "storyblok-tanay"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Storyblok": {
      "main": [
        [
          {
            "node": "Storyblok1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Storyblok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Get all the stories and publish them in Storyblok",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/768",
    "scraped_at": "2025-08-21 00:36:19",
    "workflow_id": "c25ac2aa-7a5f-5ad3-8db1-4d9abae26ba5"
  },
  "_filename": "Get_all_the_stories_and_publish_them_in_Storyblok.json"
}