workflows/Handle_verification_for_Twitter_webhook.json
{
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        460,
        300
      ],
      "webhookId": "0db0a40c-e5d1-463f-8252-03599f1303e6",
      "parameters": {
        "path": "0db0a40c-e5d1-463f-8252-03599f1303e6",
        "options": {},
        "responseMode": "lastNode"
      },
      "typeVersion": 1
    },
    {
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "position": [
        660,
        300
      ],
      "parameters": {
        "type": "SHA256",
        "value": "={{$json[\"query\"][\"crc_token\"]}}",
        "action": "hmac",
        "secret": "API KEY SECRET",
        "encoding": "base64"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        840,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response_token",
              "value": "=sha256={{$json[\"data\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Crypto": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Handle verification for Twitter webhook",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/1440",
    "scraped_at": "2025-08-21 00:51:41",
    "workflow_id": "aa38107e-aa78-5a88-b6c5-00d1c5ea639c"
  },
  "_filename": "Handle_verification_for_Twitter_webhook.json"
}