workflows/Manage_transfers_automatically_in_Wise.json
{
  "nodes": [
    {
      "name": "Wise",
      "type": "n8n-nodes-base.wise",
      "position": [
        470,
        320
      ],
      "parameters": {
        "amount": 500,
        "resource": "quote",
        "operation": "create",
        "profileId": 16138858,
        "sourceCurrency": "EUR",
        "targetCurrency": "EUR",
        "targetAccountId": 147767974
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise1",
      "type": "n8n-nodes-base.wise",
      "position": [
        660,
        320
      ],
      "parameters": {
        "quoteId": "={{$json[\"id\"]}}",
        "resource": "transfer",
        "operation": "create",
        "profileId": 16138858,
        "targetAccountId": 147767974,
        "additionalFields": {
          "reference": "Thank you for the contribution"
        }
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise2",
      "type": "n8n-nodes-base.wise",
      "position": [
        870,
        320
      ],
      "parameters": {
        "resource": "transfer",
        "operation": "execute",
        "profileId": 16138858,
        "transferId": "={{$json[\"id\"]}}"
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise3",
      "type": "n8n-nodes-base.wise",
      "position": [
        1070,
        320
      ],
      "parameters": {
        "resource": "transfer",
        "transferId": "={{$node[\"Wise1\"].json[\"id\"]}}"
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wise": {
      "main": [
        [
          {
            "node": "Wise1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise1": {
      "main": [
        [
          {
            "node": "Wise2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise2": {
      "main": [
        [
          {
            "node": "Wise3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Manage transfers automatically in Wise",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/992",
    "scraped_at": "2025-08-21 00:43:11",
    "workflow_id": "a4574352-6f23-59b2-b69b-3fded5b66387"
  },
  "_filename": "Manage_transfers_automatically_in_Wise.json"
}