workflows/N8N_Español_Telegram_Welcome_Bot.json
{
  "id": "27",
  "name": "N8N Espa\u00f1ol - BOT",
  "nodes": [
    {
      "name": "Saludos-IF",
      "type": "n8n-nodes-base.if",
      "position": [
        450,
        450
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Saludos-IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        490,
        630
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "S-Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        700,
        660
      ],
      "parameters": {
        "text": "=\u2716\ufe0f {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}} DEP. \ud83d\ude4f Que los Dioses te protejan.",
        "chatId": "=@comunidadn8n",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Espa\u00f1ol - BOT"
      },
      "typeVersion": 1
    },
    {
      "name": "Saludos-TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        260,
        560
      ],
      "webhookId": "4ef8c98e-e617-4d36-9c6d-04fae7e9298c",
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Espa\u00f1ol - BOT"
      },
      "typeVersion": 1
    },
    {
      "name": "S-Telegram2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        730,
        460
      ],
      "parameters": {
        "text": "=\u2714\ufe0f {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}, \u00a1bienvenid@ a N8N en Espa\u00f1oll!  \ud83d\ude4c",
        "chatId": "=@comunidadn8n",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Espa\u00f1ol - BOT"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "settings": {},
  "connections": {
    "Saludos-IF": {
      "main": [
        [],
        [
          {
            "node": "S-Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saludos-IF1": {
      "main": [
        [],
        [
          {
            "node": "S-Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saludos-TelegramTrigger": {
      "main": [
        [
          {
            "node": "Saludos-IF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Saludos-IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "N8N Espa\u00f1ol - Telegram Welcome Bot",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/872",
    "scraped_at": "2025-08-20 23:13:57",
    "workflow_id": "075d6cbd-2c5b-59a5-ae76-835d7df4345e"
  },
  "_filename": "N8N_Espa\u00f1ol_Telegram_Welcome_Bot.json"
}