workflows/Promote_new_Shopify_products_on_Twitter_and_Telegram.json
{
  "nodes": [
    {
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "position": [
        720,
        -220
      ],
      "parameters": {
        "text": "=Hey there, my design is now on a new product \u2728\nVisit my {{$json[\"vendor\"]}} shop to get this cool{{$json[\"title\"]}} (and check out more {{$json[\"product_type\"]}}) \ud83d\udecd\ufe0f",
        "additionalFields": {}
      },
      "credentials": {
        "twitterOAuth1Api": "twitter"
      },
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        720,
        -20
      ],
      "parameters": {
        "text": "=Hey there, my design is now on a new product!\nVisit my {{$json[\"vendor\"]}} shop to get this cool{{$json[\"title\"]}} (and check out more {{$json[\"product_type\"]}})",
        "chatId": "123456",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "telegram_habot"
      },
      "typeVersion": 1
    },
    {
      "name": "product created",
      "type": "n8n-nodes-base.shopifyTrigger",
      "position": [
        540,
        -110
      ],
      "webhookId": "2a7e0e50-8f09-4a2b-bf54-a849a6ac4fe0",
      "parameters": {
        "topic": "products/create"
      },
      "credentials": {
        "shopifyApi": "shopify_nodeqa"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "product created": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Promote new Shopify products on Twitter and Telegram",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/1205",
    "scraped_at": "2025-08-18 05:31:39"
  }
}