workflows/Search_LinkedIn_companies_and_add_them_to_Airtable_CRM.json
{
  "id": "AuB5sN9ZQomeyH2T",
  "meta": {
    "instanceId": "95a1299fb2b16eb2219cb044f54e72c2d00dcd2c72efe717b3c308d200f29927"
  },
  "name": "Search LinkedIn companies, Score with AI and add them to Google Sheet CRM",
  "tags": [],
  "nodes": [
    {
      "id": "a8d454a5-ad6a-4f8a-8f40-63c0324ab503",
      "name": "When clicking \u2018Test workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -220,
        760
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d8c42ec9-6df3-41b5-abbf-792cf6ddfcdc",
      "name": "Process Each Company",
      "type": "n8n-nodes-base.splitInBatches",
      "onError": "continueRegularOutput",
      "position": [
        720,
        760
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3,
      "alwaysOutputData": false
    },
    {
      "id": "64203780-d1c7-44d1-b1c6-cf3068e407e6",
      "name": "Get Company Info",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        960,
        760
      ],
      "parameters": {
        "url": "https://api.ghostgenius.fr/v2/company",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        },
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "bLl270qRTYghd4Za",
          "name": "Resend"
        }
      },
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "id": "d0fdf8ec-65e3-4c70-8e1b-aff54ac21587",
      "name": "Filter Valid Companies",
      "type": "n8n-nodes-base.if",
      "onError": "continueRegularOutput",
      "position": [
        1180,
        760
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5ea943a6-8f6c-4cb0-b194-8c92d4b2aacc",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "[null]"
            },
            {
              "id": "8235b9bb-3cd4-4ed4-a5dc-921127ff47c7",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.followers_count }}",
              "rightValue": 200
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "df8c55e8-23cd-4eac-b85c-66fc4ef9ef8d",
      "name": "Check If Company Exists",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1580,
        760
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appjYSpxvs8mlJaIW",
          "cachedResultUrl": "https://airtable.com/appjYSpxvs8mlJaIW",
          "cachedResultName": "CRM"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbliG5xhydGGgk3nD",
          "cachedResultUrl": "https://airtable.com/appjYSpxvs8mlJaIW/tbliG5xhydGGgk3nD",
          "cachedResultName": "CRM"
        },
        "options": {},
        "operation": "search",
        "filterByFormula": "={id} = '{{ $json.id.toNumber() }}'"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "xEgnWLP3bQAkHxtH",
          "name": "Airtable Personal Access Token account 3"
        }
      },
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "id": "8fad928f-5b7e-48f0-9213-904569ac6689",
      "name": "Is New Company?",
      "type": "n8n-nodes-base.if",
      "position": [
        1820,
        760
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "050c33be-c648-44d7-901c-51f6ff024e97",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $('Check If Company Exists').all().first().json }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "fa04a252-b0ef-4672-b523-543f4807ffd6",
      "name": "Add Company to CRM",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2080,
        760
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appjYSpxvs8mlJaIW",
          "cachedResultUrl": "https://airtable.com/appjYSpxvs8mlJaIW",
          "cachedResultName": "CRM"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbliG5xhydGGgk3nD",
          "cachedResultUrl": "https://airtable.com/appjYSpxvs8mlJaIW/tbliG5xhydGGgk3nD",
          "cachedResultName": "CRM"
        },
        "columns": {
          "value": {
            "id": "={{ $('Filter Valid Companies').item.json.id.toNumber() }}",
            "Name": "={{ $('Filter Valid Companies').item.json.name }}",
            "Country": "\ud83c\uddfa\ud83c\uddf8 United States",
            "Summary": "={{ $('Filter Valid Companies').item.json.description }}",
            "Tagline": "={{ $('Filter Valid Companies').item.json.tagline }}",
            "Website": "={{ $('Filter Valid Companies').item.json.website }}",
            "Category": "Growth Marketing Agency 11-50 \ud83c\udf0d",
            "LinkedIn": "={{ $('Filter Valid Companies').item.json.url }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "LinkedIn",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Growth Marketing Agency 11-50 \ud83c\udf0d",
                  "value": "Growth Marketing Agency 11-50 \ud83c\udf0d"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Tagline",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Tagline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Index",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Index",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "\ud83c\udde8\ud83c\uddf1 Chili",
                  "value": "\ud83c\udde8\ud83c\uddf1 Chili"
                },
                {
                  "name": "\ud83c\uddf0\ud83c\uddff Kazakhstan",
                  "value": "\ud83c\uddf0\ud83c\uddff Kazakhstan"
                },
                {
                  "name": "\ud83c\uddf8\ud83c\uddea Su\u00e8de",
                  "value": "\ud83c\uddf8\ud83c\uddea Su\u00e8de"
                },
                {
                  "name": "\ud83c\uddf3\ud83c\uddf4 Norv\u00e8ge",
                  "value": "\ud83c\uddf3\ud83c\uddf4 Norv\u00e8ge"
                },
                {
                  "name": "\ud83c\uddf5\ud83c\uddea P\u00e9rou",
                  "value": "\ud83c\uddf5\ud83c\uddea P\u00e9rou"
                },
                {
                  "name": "\ud83c\uddf9\ud83c\uddfc Ta\u00efwan",
                  "value": "\ud83c\uddf9\ud83c\uddfc Ta\u00efwan"
                },
                {
                  "name": "\ud83c\udde6\ud83c\uddf9 Autriche",
                  "value": "\ud83c\udde6\ud83c\uddf9 Autriche"
                },
                {
                  "name": "\ud83c\udde9\ud83c\uddf0 Danemark",
                  "value": "\ud83c\udde9\ud83c\uddf0 Danemark"
                },
                {
                  "name": "\ud83c\uddf7\ud83c\uddfa Russie",
                  "value": "\ud83c\uddf7\ud83c\uddfa Russie"
                },
                {
                  "name": "\ud83c\uddf0\ud83c\uddf7 Cor\u00e9e du Sud",
                  "value": "\ud83c\uddf0\ud83c\uddf7 Cor\u00e9e du Sud"
                },
                {
                  "name": "\ud83c\uddea\ud83c\uddea Estonie",
                  "value": "\ud83c\uddea\ud83c\uddea Estonie"
                },
                {
                  "name": "\ud83c\uddf7\ud83c\uddf4 Roumanie",
                  "value": "\ud83c\uddf7\ud83c\uddf4 Roumanie"
                },
                {
                  "name": "\ud83c\udde8\ud83c\uddf4 Colombie",
                  "value": "\ud83c\udde8\ud83c\uddf4 Colombie"
                },
                {
                  "name": "\ud83c\uddee\ud83c\uddf7 Iran",
                  "value": "\ud83c\uddee\ud83c\uddf7 Iran"
                },
                {
                  "name": "\ud83c\udde6\ud83c\uddf7 Argentine",
                  "value": "\ud83c\udde6\ud83c\uddf7 Argentine"
                },
                {
                  "name": "\ud83c\udde7\ud83c\uddea Belgique",
                  "value": "\ud83c\udde7\ud83c\uddea Belgique"
                },
                {
                  "name": "\ud83c\uddec\ud83c\uddf7 Gr\u00e8ce",
                  "value": "\ud83c\uddec\ud83c\uddf7 Gr\u00e8ce"
                },
                {
                  "name": "\ud83c\uddf2\ud83c\udde6 Maroc",
                  "value": "\ud83c\uddf2\ud83c\udde6 Maroc"
                },
                {
                  "name": "\ud83c\uddf5\ud83c\uddf1 Pologne",
                  "value": "\ud83c\uddf5\ud83c\uddf1 Pologne"
                },
                {
                  "name": "\ud83c\uddf5\ud83c\uddf9 Portugal",
                  "value": "\ud83c\uddf5\ud83c\uddf9 Portugal"
                },
                {
                  "name": "\ud83c\udde7\ud83c\uddf7 Br\u00e9sil",
                  "value": "\ud83c\udde7\ud83c\uddf7 Br\u00e9sil"
                },
                {
                  "name": "\ud83c\uddf0\ud83c\uddea Kenya",
                  "value": "\ud83c\uddf0\ud83c\uddea Kenya"
                },
                {
                  "name": "\ud83c\uddee\ud83c\uddf9 Italie",
                  "value": "\ud83c\uddee\ud83c\uddf9 Italie"
                },
                {
                  "name": "\ud83c\uddee\ud83c\uddf1 Isra\u00ebl",
                  "value": "\ud83c\uddee\ud83c\uddf1 Isra\u00ebl"
                },
                {
                  "name": "\ud83c\uddf2\ud83c\uddfd Mexique",
                  "value": "\ud83c\uddf2\ud83c\uddfd Mexique"
                },
                {
                  "name": "\ud83c\uddfa\ud83c\udde6 Ukraine",
                  "value": "\ud83c\uddfa\ud83c\udde6 Ukraine"
                },
                {
                  "name": "\ud83c\uddeb\ud83c\uddf7 France",
                  "value": "\ud83c\uddeb\ud83c\uddf7 France"
                },
                {
                  "name": "\ud83c\uddf9\ud83c\uddf7 Turquie",
                  "value": "\ud83c\uddf9\ud83c\uddf7 Turquie"
                },
                {
                  "name": "\ud83c\uddf2\ud83c\uddfe Malaisie",
                  "value": "\ud83c\uddf2\ud83c\uddfe Malaisie"
                },
                {
                  "name": "\ud83c\uddf5\ud83c\udded Philippines",
                  "value": "\ud83c\uddf5\ud83c\udded Philippines"
                },
                {
                  "name": "\ud83c\uddff\ud83c\udde6 Afrique du Sud",
                  "value": "\ud83c\uddff\ud83c\udde6 Afrique du Sud"
                },
                {
                  "name": "\ud83c\udde9\ud83c\uddea Allemagne",
                  "value": "\ud83c\udde9\ud83c\uddea Allemagne"
                },
                {
                  "name": "\ud83c\uddf3\ud83c\uddf1 Pays-Bas",
                  "value": "\ud83c\uddf3\ud83c\uddf1 Pays-Bas"
                },
                {
                  "name": "\ud83c\uddea\ud83c\uddf8 Espagne",
                  "value": "\ud83c\uddea\ud83c\uddf8 Espagne"
                },
                {
                  "name": "\ud83c\uddf8\ud83c\uddec Singapour",
                  "value": "\ud83c\uddf8\ud83c\uddec Singapour"
                },
                {
                  "name": "\ud83c\udde6\ud83c\uddfa Australie",
                  "value": "\ud83c\udde6\ud83c\uddfa Australie"
                },
                {
                  "name": "\ud83c\udde8\ud83c\udde6 Canada",
                  "value": "\ud83c\udde8\ud83c\udde6 Canada"
                },
                {
                  "name": "\ud83c\udde6\ud83c\uddea \u00c9mirats arabes unis",
                  "value": "\ud83c\udde6\ud83c\uddea \u00c9mirats arabes unis"
                },
                {
                  "name": "\ud83c\uddf5\ud83c\uddf0 Pakistan",
                  "value": "\ud83c\uddf5\ud83c\uddf0 Pakistan"
                },
                {
                  "name": "\ud83c\uddec\ud83c\udde7 Royaume-Uni",
                  "value": "\ud83c\uddec\ud83c\udde7 Royaume-Uni"
                },
                {
                  "name": "\ud83c\uddee\ud83c\uddf3 Inde",
                  "value": "\ud83c\uddee\ud83c\uddf3 Inde"
                },
                {
                  "name": "\ud83c\uddfa\ud83c\uddf8 United States",
                  "value": "\ud83c\uddfa\ud83c\uddf8 United States"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Not yet added",
                  "value": "Not yet added"
                },
                {
                  "name": "Added to the campaign",
                  "value": "Added to the campaign"
                },
                {
                  "name": "No mail found",
                  "value": "No mail found"
                },
                {
                  "name": "No employee found",
                  "value": "No employee found"
                },
                {
                  "name": "To do later",
                  "value": "To do later"
                },
                {
                  "name": "Meeting booked",
                  "value": "Meeting booked"
                }
              ],
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "State",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "create"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "xEgnWLP3bQAkHxtH",
          "name": "Airtable Personal Access Token account 3"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "6c92f1fa-f79c-4736-b91c-80404822f8e3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        400
      ],
      "parameters": {
        "color": 6,
        "width": 800,
        "height": 560,
        "content": "## LinkedIn Company Search\nThis section initiates the workflow and searches for your target companies on LinkedIn using the Ghost Genius API. \n\nYou can filter and refine your search using keywords, company size, location, industry, or even whether the company has active job postings. Use the \"Set Variables\" node for it.\n\nNote that you can retrieve a maximum of 1000 companies per search (corresponding to 100 LinkedIn pages), so it's important not to exceed this number of results to avoid losing prospects.\n\n**Example:** Let's say I want to target Growth Marketing Agencies with 11-50 employees. I do my search and see that there are 10,000 results. So I refine my search by using location to go country by country and retrieve all 10,000 results in several batches ranging from 500 to 1000 depending on the country.\n\n**Tips:** To test the workflow or to see the number of results of your search, change the pagination parameter (Max Pages) in the \"Search Companies\" node. It will be displayed at the very top of the response JSON."
      },
      "typeVersion": 1
    },
    {
      "id": "f573ed2a-64bc-4b9e-89c3-bc160d1a9088",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        400
      ],
      "parameters": {
        "color": 4,
        "width": 780,
        "height": 560,
        "content": "## Company Data Processing \nThis section processes each company individually.\n\nWe retrieve all the company information using Get Company Details by using the LinkedIn link obtained from the previous section.\n\nThen we filter the company based on the number of followers, which gives us a first indication of the company's credibility (200 in this case), and whether their LinkedIn page has a website listed.\n\nThe workflow implements batch processing with a 2-second delay between requests to respect API rate limits. This methodical approach ensures reliable data collection while preventing API timeouts.\n\nYou can adjust these thresholds based on your target market - increasing the follower count for more established businesses or decreasing it for emerging markets."
      },
      "typeVersion": 1
    },
    {
      "id": "dbea81f2-2f92-4c09-9780-57da8a19958d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1480,
        400
      ],
      "parameters": {
        "color": 5,
        "width": 780,
        "height": 560,
        "content": "## CRM Integration\nThis section handles the Airtable CRM integration.\n\nIt first checks if the company already exists in your database (using LinkedIn ID) to prevent duplicates because when you do close enough searches, some companies may come up several times.\n\nIf it's a new company, it adds the record to Airtable with comprehensive details including name, LinkedIn URL, website, tagline, description, and category. \n\nThe workflow automatically tags companies as 'Growth Marketing Agency 11-50 \ud83c\udf0d' and sets the country to '\ud83c\uddfa\ud83c\uddf8 United States' (customize according to your use case)."
      },
      "typeVersion": 1
    },
    {
      "id": "3a00f315-1f67-4218-9131-6b3074d8074f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "width": 600,
        "height": 340,
        "content": "## Introduction\nWelcome to my template! Before explaining how to set it up, here's some important information:\n\nThis automation is very easy to implement and is designed for anyone wanting to build and enrich a solid CRM through LinkedIn research.\n\nThe initial data source can be changed as long as you have the LinkedIn URL of the company.\n\nFor any questions, you can send me a DM on my [LinkedIn](https://www.linkedin.com/in/matthieu-belin83/) :)  "
      },
      "typeVersion": 1
    },
    {
      "id": "299eddfa-da04-460e-955a-f4227ad6b20d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        0
      ],
      "parameters": {
        "width": 600,
        "height": 340,
        "content": "## Setup\n- Create an account on [Ghost Genius API](https://ghostgenius.fr) and get your API key.\n\n- Configure the Search Companies and Get Company Info modules by creating a \"Header Auth\" credential:\n**Name: \"Authorization\"**\n**Value: \"Bearer api_key\"**\n\ud83c\udfa5 Watch the setup API Key video juste [here](https://www.youtube.com/watch?v=12nLy8GWSlE).\n\n- Create an Airtable base named \"CRM\" and add at least the following columns: name (default), website (url), LinkedIn (url), id (number).\n\n- Configure your Airtable credential by following the n8n documentation.\n\n- Add your company search selection criteria to the \u201cSet Variables\u201d node."
      },
      "typeVersion": 1
    },
    {
      "id": "e0f91993-2858-4664-9abd-db68d06f4e7b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        0
      ],
      "parameters": {
        "width": 600,
        "height": 340,
        "content": "## Tools \n**(You can use the API and CRM of your choice; this is only a suggestion)**\n\n- API Linkedin : [Ghost Genius API](https://ghostgenius.fr) \n\n- API Documentation : [Documentation](https://ghostgenius.fr/docs)\n\n- CRM : [Airtable](https://airtable.com)\n\n- LinkedIn Location ID Finder : [Ghost Genius Locations ID Finder](https://ghostgenius.fr/tools/search-sales-navigator-locations-id)"
      },
      "typeVersion": 1
    },
    {
      "id": "3de54c01-709a-4f21-8b45-81402891ce6b",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -20,
        760
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "e81e4891-4786-4dd9-a338-d1095e27f382",
              "name": "Your target",
              "type": "string",
              "value": "Growth Marketing Agency"
            },
            {
              "id": "ed2b6b08-66aa-4d4b-b68c-698b5e841930",
              "name": "B: 1-10 employees, C: 11-50 employees, D: 51-200 employees, E: 201-500 employees, F: 501-1000 employees, G: 1001-5000 employees, H: 5001-10,000 employees, I: 10,001+ employees",
              "type": "string",
              "value": "C"
            },
            {
              "id": "f1d02f1a-8115-4e0c-a5ec-59bf5b54263b",
              "name": "Location (find it on : https://www.ghostgenius.fr/tools/search-sales-navigator-locations-id)",
              "type": "string",
              "value": "103644278"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "622bbb9e-0e90-49b9-b6b2-0949a40922d4",
      "name": "Search Companies",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        180,
        760
      ],
      "parameters": {
        "url": "https://api.ghostgenius.fr/v2/search/companies",
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "requestInterval": 2000,
              "limitPagesFetched": true,
              "completeExpression": "={{ $response.body.data.isEmpty() }}",
              "paginationCompleteWhen": "other"
            }
          }
        },
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "keywords",
              "value": "={{ $json['Your target'] }}"
            },
            {
              "name": "company_size",
              "value": "={{ $json['B: 1-10 employees, C: 11-50 employees, D: 51-200 employees, E: 201-500 employees, F: 501-1000 employees, G: 1001-5000 employees, H: 5001-10,000 employees, I: 10,001+ employees'] }}"
            },
            {
              "name": "location",
              "value": "={{ $json['Location (https://www'].ghostgenius['fr/tools/search-sales-navigator-locations-id)'] }}"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "XdFg4wGkcxwRPUMo",
          "name": "Header Auth account 4"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "1568a81b-bd0e-4432-8f44-bbf934f2d835",
      "name": "Extract Company Data",
      "type": "n8n-nodes-base.splitOut",
      "onError": "continueRegularOutput",
      "position": [
        380,
        760
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "data"
      },
      "typeVersion": 1
    },
    {
      "id": "40db1c06-36f4-4d74-8fa2-0c18220a0a4f",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -140
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 80,
        "content": "# [Setup API Key Video](https://www.youtube.com/watch?v=12nLy8GWSlE)\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20e265a7-7f8d-4e0c-926f-10c8101d7311",
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "Search Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Company?": {
      "main": [
        [
          {
            "node": "Add Company to CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Info": {
      "main": [
        [
          {
            "node": "Filter Valid Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Companies": {
      "main": [
        [
          {
            "node": "Extract Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Company to CRM": {
      "main": [
        [
          {
            "node": "Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company Data": {
      "main": [
        [
          {
            "node": "Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Company": {
      "main": [
        [],
        [
          {
            "node": "Get Company Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Companies": {
      "main": [
        [
          {
            "node": "Check If Company Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Company Exists": {
      "main": [
        [
          {
            "node": "Is New Company?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Search LinkedIn companies and add them to Airtable CRM",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/3717",
    "scraped_at": "2025-08-20 22:16:01",
    "workflow_id": "70f51dc8-f896-51df-a008-a86577ae90d2"
  },
  "_filename": "Search_LinkedIn_companies_and_add_them_to_Airtable_CRM.json"
}