workflows/Send_daily_weather_updates_via_a_push_notification_using_the_Pushcut_node.json
{
  "id": "82",
  "name": "Send daily weather updates via a push notification using the Pushcut node",
  "nodes": [
    {
      "name": "Pushcut",
      "type": "n8n-nodes-base.pushcut",
      "position": [
        1050,
        420
      ],
      "parameters": {
        "additionalFields": {
          "text": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}\u00b0C.",
          "title": "Today's Weather Update"
        },
        "notificationName": "n8n"
      },
      "credentials": {
        "pushcutApi": "Pushcut Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        850,
        420
      ],
      "parameters": {
        "cityName": "berlin"
      },
      "credentials": {
        "openWeatherMapApi": "open-weather-map"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        650,
        420
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Pushcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Send daily weather updates via a push notification using the Pushcut node",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/843",
    "scraped_at": "2025-08-21 00:28:33",
    "workflow_id": "7f96fe27-efaf-5d14-9919-b57995e8f6d4"
  },
  "_filename": "Send_daily_weather_updates_via_a_push_notification_using_the_Pushcut_node.json"
}