workflows/Send_financial_metrics_monthly_to_Mattermos.json
{
  "id": "146",
  "name": "Send financial metrics monthly to Mattermost",
  "nodes": [
    {
      "name": "ProfitWell",
      "type": "n8n-nodes-base.profitWell",
      "position": [
        730,
        220
      ],
      "parameters": {
        "type": "monthly",
        "options": {}
      },
      "credentials": {
        "profitWellApi": "profitwell"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        530,
        220
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9,
              "mode": "everyMonth"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "position": [
        930,
        220
      ],
      "parameters": {
        "message": "=Active Customers: {{$node[\"ProfitWell\"].json[\"active_customers\"]}}\nTrailing Customers: {{$node[\"ProfitWell\"].json[\"active_trialing_customers\"]}}\nNew Customers: {{$node[\"ProfitWell\"].json[\"new_customers\"]}}\nGrowth Rate: {{$node[\"ProfitWell\"].json[\"growth_rate\"]}}\nRecurring Revenue: {{$node[\"ProfitWell\"].json[\"recurring_revenue\"]}}",
        "channelId": "w6rsxrqds3bt9pguxzduowqucy",
        "attachments": [],
        "otherOptions": {}
      },
      "credentials": {
        "mattermostApi": "mattermost"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "ProfitWell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProfitWell": {
      "main": [
        [
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Send financial metrics monthly to Mattermos",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/798",
    "scraped_at": "2025-08-21 00:02:51",
    "workflow_id": "475f0ab2-0809-59ac-88b5-892d09a383d6"
  },
  "_filename": "Send_financial_metrics_monthly_to_Mattermos.json"
}