workflows/Share_jokes_on_Twitter_automatically.json
{
  "nodes": [
    {
      "name": "Request blablagues",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        750,
        250
      ],
      "parameters": {
        "url": "https://api.blablagues.net/?rub=images",
        "options": {},
        "responseFormat": "string"
      },
      "typeVersion": 1
    },
    {
      "name": "Recup image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        250
      ],
      "parameters": {
        "url": "={{$node[\"Request blablagues\"].json[\"data\"][\"data\"][\"content\"][\"media\"]}}",
        "options": {},
        "responseFormat": "file"
      },
      "typeVersion": 1
    },
    {
      "name": "At 17H image jokes",
      "type": "n8n-nodes-base.cron",
      "position": [
        500,
        250
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 17
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Tweet image jokes",
      "type": "n8n-nodes-base.twitter",
      "position": [
        1250,
        250
      ],
      "parameters": {
        "text": "={{$node[\"Request blablagues\"].json[\"data\"][\"data\"][\"content\"][\"text\"]}}",
        "additionalFields": {
          "attachments": "data"
        }
      },
      "credentials": {
        "twitterOAuth1Api": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Recup image": {
      "main": [
        [
          {
            "node": "Tweet image jokes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "At 17H image jokes": {
      "main": [
        [
          {
            "node": "Request blablagues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request blablagues": {
      "main": [
        [
          {
            "node": "Recup image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Share jokes on Twitter automatically",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/1376",
    "scraped_at": "2025-08-21 00:04:00",
    "workflow_id": "7e78cf33-4e1e-5533-850e-d5be8dbdfef0"
  },
  "_filename": "Share_jokes_on_Twitter_automatically.json"
}