workflows/Sync_data_between_multiple_Google_Spreadsheets.json
{
  "nodes": [
    {
      "name": "Read Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        700,
        300
      ],
      "parameters": {
        "range": "Data!A:G",
        "rawData": true
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        500,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */2 * * * *"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Write Sheet 2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        900,
        400
      ],
      "parameters": {
        "range": "={{$node[\"Read Sheet\"].parameter[\"range\"]}}",
        "rawData": true,
        "operation": "update"
      },
      "typeVersion": 1
    },
    {
      "name": "Write Sheet 1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        900,
        200
      ],
      "parameters": {
        "range": "={{$node[\"Read Sheet\"].parameter[\"range\"]}}",
        "rawData": true,
        "operation": "update"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Read Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet": {
      "main": [
        [
          {
            "node": "Write Sheet 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Sheet 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Sync data between multiple Google Spreadsheets",
    "used_count": 177,
    "popularity_score": 40,
    "source_url": "https://n8n.io/workflows/6",
    "scraped_at": "2025-08-17 14:49:47"
  }
}