workflows/Tip_1_Testing_n8n_sub_workflow.json
{
  "id": "VdaeEvTKSXCbdvaE",
  "meta": {
    "instanceId": "8981479cb588889c05b145eaed421551d37a4fff11ab279d3f4744a6577c6002"
  },
  "name": "Reusable and Independently Testable Sub-workflow",
  "tags": [],
  "nodes": [
    {
      "id": "40b39083-5786-47f8-b46f-31617d3c1e18",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        224,
        208
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "color"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "1b8c3f08-b677-4a2a-8cc4-1a9ec1d2a979",
      "name": "When clicking \u2018Execute workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "0ccdd511-857a-4173-9dd3-9dcbafaaf8d3",
      "name": "Test Input",
      "type": "n8n-nodes-base.set",
      "position": [
        224,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "ba91ff49-9785-4bdb-8285-32b312ba91a0",
              "name": "color",
              "type": "string",
              "value": "blue"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "4da32de9-6b05-4a26-9d67-eae677dbcbfe",
      "name": "Combine Input",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        112
      ],
      "parameters": {
        "options": {},
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "e5cdecb7-1e03-4010-8cdb-ddf39220b2fb",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        672,
        112
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "15a5d561-e439-43b0-a11b-b969aee65d72",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Combine Input').item.json.color }}",
              "rightValue": "blue"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "d7c3efc5-c495-4811-8b47-7681c67068a3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -432
      ],
      "parameters": {
        "width": 768,
        "height": 376,
        "content": "## Reusable and Independently Testable Sub-workflow\nThis n8n workflow provides a standardized structure for building and testing sub-workflows in isolation. Its purpose is to help you create robust, reusable, and maintainable automations by enabling you to test the sub-workflow's logic without needing a separate parent workflow.\n### Setup Instructions:\n1. **Define Sub-workflow Inputs**: Double-click the **Execute Sub-workflow Trigger** node to define the parameters (e.g., `color`) that your sub-workflow will expect from a parent workflow.\n2. **Configure Test Data**: Use the `Test Input` node (an **Edit Fields (Set)** node connected to the **Manual Trigger**) to provide sample data for isolated testing.\n3. **Connect Inputs**: The `Combine Input` node (an **Edit Fields (Set)** node) is the entry point for your sub-workflow's core logic. It should have two inputs: one from the `Execute Sub-workflow Trigger` and one from the `Test Input` node.\n4. **Merge Inputs**: Ensure the `Combine Input` node has the 'Include Other Input Fields' option enabled to merge data from both the live and test paths seamlessly.\n\nYou can read the full blog post that explains this workflow setup in detail [here](https://n8n-tips.blogspot.com/2025/06/tip-1-testing-n8n-sub-workflow.html)."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a29790c-5f66-4467-ba78-d8a1a825ece9",
  "connections": {
    "Test Input": {
      "main": [
        [
          {
            "node": "Combine Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Input": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Combine Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Test Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Tip #1: Testing n8n sub-workflow",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/5032",
    "scraped_at": "2025-08-21 02:10:46",
    "workflow_id": "23a61084-e658-584b-9e04-705e5340fcc1"
  },
  "_filename": "Tip_1_Testing_n8n_sub_workflow.json"
}