workflows/Transform_Text_into_AI_Videos_with_Google_Veo3_Leonardoai_and_Claude_4.json
{
  "id": "AkvzpobOIpgNTkkC",
  "meta": {
    "instanceId": "ecc960f484e18b0e09045fd93acf0d47f4cfff25cc212ea348a08ac3aae81850"
  },
  "name": "Google Veo 3 Prompt and Video Generator via Leonardo.ai + Claude 4",
  "tags": [],
  "nodes": [
    {
      "id": "d8b07121-0489-4108-b4e9-67064ea1ada6",
      "name": "Leo - Get videoId",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        780,
        0
      ],
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.motionVideoGenerationJob.generationId }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "CoQSp2fawRRowZx9",
          "name": "Leo Custom Auth account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "9f3701b6-e83e-4547-baf8-1668d36dd5ee",
      "name": "Video URL",
      "type": "n8n-nodes-base.set",
      "position": [
        980,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "dd496890-464e-4f96-8cfe-d1795faee713",
              "name": "body.generations_by_pk.generated_images[0].motionMP4URL",
              "type": "string",
              "value": "={{ $json.body.generations_by_pk.generated_images[0].motionMP4URL }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "c03162bf-cfae-44ab-b8a1-fccb36e6ec29",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1180,
        0
      ],
      "parameters": {
        "url": "={{ $json.body.generations_by_pk.generated_images[0].motionMP4URL }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "9fdc1a99-5401-4ac1-9c59-aa7db7509073",
      "name": "UPLOAD VIDEO",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1380,
        0
      ],
      "parameters": {
        "name": "={{ $json.id || $json.body.generations_by_pk.generated_images[0].id }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "=1EHTu1ljziYTn9F8r4WcDNFpcyt5gdJnf"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "L5IrdG03WBf4a3F2",
          "name": "results@wot-ai.com Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "9e49d944-0bb8-46a3-8542-9afa0bb0c814",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        20,
        200
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "EJr0SU0DgPDFDzKe",
          "name": "AlexK1919 - ent Anthropic account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "0424f949-1323-499b-8ef0-be5be399e2ca",
      "name": "When clicking \u2018Execute workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -380,
        0
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "214d7980-7fdc-4aa7-87fe-d9fa7f18c3f0",
      "name": "LEO - Generate Text to Motion",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        380,
        0
      ],
      "parameters": {
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations-text-to-video",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"isPublic\": false,\n  \"resolution\": \"RESOLUTION_720\",\n  \"model\": \"VEO3\",\n  \"prompt\": {{JSON.stringify($json.output + \". Subtitles: Off\")}}\n}\n",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "CoQSp2fawRRowZx9",
          "name": "Leo Custom Auth account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "8f2aed61-2a5e-4ae0-9fa7-1a8e7c3a1eef",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        580,
        0
      ],
      "webhookId": "b3f7ea14-c2bf-44a3-9c13-74f523df03b1",
      "parameters": {
        "unit": "minutes",
        "amount": 4
      },
      "typeVersion": 1.1
    },
    {
      "id": "2bd86ec9-503f-48f9-b18e-a5c34bf33071",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        -80
      ],
      "parameters": {
        "color": 3,
        "width": 260,
        "height": 100,
        "content": "## 4 mins... Be Patient!"
      },
      "typeVersion": 1
    },
    {
      "id": "fe49079b-8bf3-4351-a063-738258466b92",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        200,
        200
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "4dc370ae-d80a-49cc-9df3-9403030eb681",
      "name": "Veo3 Video Prompt Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        20,
        0
      ],
      "parameters": {
        "text": "=Create a text to video motion prompt of:\n\n{{ $json.context }}\n\nSubtitles: Off",
        "options": {
          "systemMessage": "=You are a highly skilled Google Veo 3 motion prompt generator.  \n\nWhenever the user asks you to craft a Veo 3 prompt, you must output **only** the following eight sections, in exactly this order, with no additional text, explanation or preamble:\n\nSubject:  \nContext:  \nAction:  \nStyle:  \nCamera Motion:  \nComposition:  \nAmbiance:  \nAudio:  \n\n\u2022 Never include any introductory phrases (e.g. \u201cI will\u2026\u201d, \u201cHere\u2019s\u2026\u201d) or follow-up commentary.  \n\u2022 Do not output subtitles or any extra headings.  \n\u2022 Follow the user\u2019s instructions exactly, filling in each section with clear, vivid language.  \n\u2022 If the user specifies \u201cNo subtitles,\u201d honor that in the Audio section.  \n\nCreate a text to video motion prompt based on these instructions:\nThe Anatomy of an Optimal Veo 3 Prompt: Essential Elements and Structure\n\nCrafting effective prompts for Veo 3 involves understanding and utilizing a set of core elements that, when combined, provide the AI with a comprehensive blueprint for video generation. Google\u2019s official guidelines and expert consensus converge on several key components.\n\nCore Prompt Elements:\n\nSubject: This is the primary entity or focal point of the video, be it a person, animal, object, or specific scenery.8 Clarity and specificity are paramount; for instance, \u201ca weathered, old fisherman with a kind smile\u201d is more effective than \u201ca man.\u201d\nContext: This defines the background, setting, or environment in which the subject exists.8 The context grounds the subject and significantly influences the overall mood and narrative. Examples include \u201ca bustling, neon-lit cyberpunk alleyway\u201d or \u201ca serene, misty morning in a redwood forest.\u201d\nAction: This describes what the subject is doing, bringing dynamism to the scene.8 The use of vivid, evocative verbs is encouraged (e.g., \u201cthe robot meticulously assembles a complex device\u201d versus \u201cthe robot is working\u201d).\nStyle: This dictates the artistic, visual, or cinematic aesthetic of the video.1 Referencing specific film genres (\u201cfilm noir,\u201d \u201cspaghetti western\u201d), animation styles (\u201canime style,\u201d \u201cclaymation\u201d), artistic movements (\u201csurrealism,\u201d \u201cimpressionism\u201d), or even particular directors (\u201cWes Anderson style\u201d 27) can effectively guide Veo 3.\nCamera Motion (Optional but Highly Recommended for Control): This element specifies how the virtual camera moves within the scene, such as \u201cdolly in,\u201d \u201cpan left,\u201d \u201ccrane shot,\u201d or \u201ctracking shot\u201d.1 This is crucial for creating dynamic visuals and will be explored in depth in Section 4.\nComposition (Optional but Highly Recommended for Control): This refers to the framing of the shot, dictating what is included within the visual field and how elements are arranged.1 Examples include \u201cclose-up shot,\u201d \u201cextreme wide shot,\u201d \u201cover-the-shoulder perspective,\u201d or \u201ctwo shot.\u201d\nAmbiance (Optional but Highly Recommended for Nuance): This encompasses the lighting, color palette, and overall mood of the scene.1 Descriptors like \u201ceerie green neon glow,\u201d \u201cwarm, golden hour sunlight,\u201d \u201cdesaturated cool blue tones,\u201d or \u201cchiaroscuro lighting\u201d can profoundly shape the emotional impact.\nAudio (Crucial for Veo 3): Given Veo 3\u2019s native audio generation, this element is vital for specifying dialogue, sound effects, and music.3 It is recommended to use separate, clear sentences for audio cues, especially for dialogue, such as, \u201cThe detective mutters, \u2018Something\u2019s not right here.\u2019 Audio: The gentle hum of a fluorescent light, distant city sirens\u201d.17\nStructuring the Prompt:\nWhile there isn\u2019t a single, rigid formula, a logical flow often enhances clarity for the AI. A common approach is to move from general concepts to specific details. Starting with the broader strokes \u2014 Subject, Context, and Style \u2014 can establish the foundational elements of the scene. Subsequently, layering in more granular instructions for Action, Camera Motion, Composition, Ambiance, and Audio allows for progressive refinement.\nGood prompts are characterized by descriptive and clear language.17 This involves using strong adjectives and adverbs to paint a vivid picture for the AI 17, but also maintaining conciseness within those descriptions. Overly complex or convoluted sentences can introduce ambiguity. Breaking down multifaceted ideas into distinct phrases or clauses is often beneficial. One user-suggested structure that aligns well with official guidance is: \u201c,,,,,,\u201d.\n\nCore Veo 3 Prompt Elements & Their Purpose\nUnderstanding the essential building blocks of effective Veo 3 prompts is crucial for generating high-quality AI videos. \n\nHere\u2019s a breakdown of each core element and why it matters:\nSubject \u2014 The Main Focus\nWhat it is: The primary person, animal, object, or scenery in your video. Why it\u2019s crucial: Defines the central focus of the generation and anchors your entire scene. Example: \u201cA sleek, black panther\u201d\nContext \u2014 The Setting\nWhat it is: The background, setting, or environment where your subject exists. Why it\u2019s crucial: Grounds the subject and establishes the scene\u2019s location and time period. Example: \u201cin a dense, moonlit jungle\u201d\nAction \u2014 The Movement\nWhat it is: What the subject is doing or how they\u2019re moving. Why it\u2019s crucial: Brings dynamism and narrative progression to your video. Example: \u201cstalking silently through the undergrowth\u201d\nStyle \u2014 The Visual Aesthetic\nWhat it is: The artistic, cinematic, or visual treatment you want. Why it\u2019s crucial: Guides the overall look and feel, referencing known genres or artistic approaches. Example: \u201chyperrealistic, cinematic nature documentary style\u201d\nCamera Motion \u2014 The Movement Control\nWhat it is: How the virtual camera moves or is positioned during the shot. Why it\u2019s crucial: Allows for dynamic visual storytelling and directorial control. Example: \u201clow-angle tracking shot, moving with the panther\u201d\nComposition \u2014 The Framing\nWhat it is: The framing of the shot and arrangement of visual elements. Why it\u2019s crucial: Directs viewer attention and influences the narrative impact. Example: \u201cextreme close-up on the panther\u2019s glowing eyes\u201d\nAmbiance \u2014 The Mood\nWhat it is: Lighting, color palette, and overall atmospheric mood. Why it\u2019s crucial: Shapes the emotional tone and visual atmosphere of the scene. Example: \u201cmoonlight filtering through the canopy, deep shadows\u201d\nAudio \u2014 The Sound Design\nWhat it is: Dialogue, sound effects, and music elements. Why it\u2019s crucial: Leverages Veo 3\u2019s native audio capabilities for immersive experiences. Example: \u201cAudio: rustling leaves, distant insect calls, a low growl\u201d\n\nWhile elements like Camera Motion, Composition, and Ambiance are often listed as \u201coptional\u201d in basic guides, their deliberate inclusion is where true creative control and the potential for genuinely cinematic output reside. A fundamental prompt might only define the Subject, Context, and Action, resulting in a functional clip. However, mastering these \u201coptional\u201d layers \u2014 providing specific instructions for how the scene is filmed, framed, lit, and colored \u2014 is what elevates a simple generation to a more thoughtfully constructed and impactful visual piece. Veo 3 is designed for \u201ccinematic\u201d results and control.1 Achieving such results inherently demands attention to the very elements that define cinematography: camera work, framing, lighting, and mood. Therefore, for an expert-level approach aiming for high-quality, intentional output, these elements should be considered highly recommended, if not essential.\n\n\nEach element within the structured prompt plays a distinct role in guiding the AI:\n\nSubject, Context, and Action together define the core \u201cwhat, where, and how\u201d of the scene, establishing its fundamental narrative and visual components.\nStyle acts as a powerful filter, narrowing the vast creative possibility space of the AI to a specific aesthetic universe, be it \u201cfilm noir\u201d or \u201cStudio Ghibli.\u201d\nCamera and Composition provide explicit directorial commands, allowing the user to override the AI\u2019s default shot choices and implement intentional visual storytelling techniques.\nAmbiance guides the subtle yet potent elements of lighting and color, which are critical in evoking specific emotions and establishing mood.\nAudio directly instructs Veo 3\u2019s native audio generation components, essential for crafting believable soundscapes and integrating coherent dialogue.\n\nThe concept of a hierarchical structure in prompts, as suggested by some research, may further aid the AI\u2019s attention and processing.\n\nThis structure typically involves defining \u201cPrimary Elements (main characters, actions, settings), then Secondary Elements (environmental details, background characters), followed by Technical Specifications (camera angles, lighting), and Temporal Indicators (scene duration, transitions)\u201d.\n\nMastering Camera Movement in Veo 3: A Deep Dive into Prompts and Techniques\n\nCamera movement is a fundamental pillar of visual storytelling, serving to direct the viewer\u2019s attention, reveal crucial information, establish pacing and rhythm, and evoke specific emotions. Veo 3\u2019s enhanced understanding of cinematic language 8 opens up significant opportunities for creators to employ sophisticated camera work through textual prompts.\n\nComprehensive List of Camera Movement Keywords for Veo 3:\nTo effectively control camera movement, familiarity with specific keywords is essential. These terms, largely derived from traditional filmmaking, are recognized by Veo 3:\nStatic Shots: Use \u201cstatic shot\u201d or \u201cfixed camera\u201d for a shot where the camera does not move, providing stability and allowing the audience to absorb scene details.24\nPanning: \u201cpan left,\u201d \u201cpan right,\u201d \u201cslow pan,\u201d \u201cfast pan,\u201d or \u201cwhip pan\u201d describe horizontal camera rotation from a fixed point.1\nTilting: \u201ctilt up\u201d or \u201ctilt down\u201d describe vertical camera rotation from a fixed point.24\nTracking Shots (or Follow Shots): \u201ctracking shot,\u201d \u201cfollow shot,\u201d or \u201clateral tracking shot\u201d involve the camera physically moving alongside the subject.1\nDolly Shots: \u201cdolly in\u201d (camera moves closer to the subject) or \u201cdolly out\u201d (camera moves away) describe the camera moving on a dolly. \u201cDolly zoom\u201d (also known as the Vertigo effect) is a more advanced technique involving simultaneous dolly and zoom, which may require careful prompting and experimentation.1\nZoom Shots: \u201czoom in,\u201d \u201czoom out,\u201d or \u201cslow zoom\u201d achieve a similar effect to dollying but by changing the lens\u2019s focal length, meaning the camera itself doesn\u2019t physically move.1\nCrane Shots/Aerials/Angles: \u201ccrane shot\u201d (camera moves vertically on a crane), \u201chigh angle shot\u201d (camera looks down on the subject), \u201clow angle shot\u201d (camera looks up at the subject), \u201caerial view,\u201d \u201cdrone shot,\u201d \u201cbird\u2019s-eye view\u201d (directly overhead), or \u201cworm\u2019s-eye view\u201d (from ground level looking up) describe various camera positions and vertical movements.1\nHandheld/Steadicam: \u201chandheld camera\u201d can introduce a sense of immediacy or instability, while \u201cshaky camera\u201d emphasizes this. For a smoother, gliding handheld effect, \u201cSteadicam shot\u201d can be used, though Veo 3\u2019s interpretation might vary.24\nOther Specific Movements: Terms like \u201corbit shot\u201d (camera circles the subject) or \u201cfly through\u201d (camera moves through an environment or object) can also be effective.28 The official documentation and related guides consistently list terms like \u201ceye level,\u201d \u201chigh angle,\u201d \u201cworms eye,\u201d \u201cdolly shot,\u201d \u201czoom shot,\u201d \u201cpan shot,\u201d and \u201ctracking shot\u201d as effective for controlling camera positioning and movement.1\nDetailed Examples of Effective Camera Movement Prompts:\nIntegrating these keywords into comprehensive prompts is key. The camera movement should be described in context with the subject, action, style, and other relevant elements.\nDolly In Example: \u201cA tense scene in a dimly lit interrogation room. Slow dolly in on the suspect\u2019s sweaty face as he nervously avoids eye contact. Film noir style, harsh single-source lighting creating strong shadows. Audio: The rhythmic ticking of a clock, the suspect\u2019s shallow breathing.\u201d (Inspired by structure from 17 and camera terms from 1).\nTracking Shot Example: \u201cDynamic tracking shot following a lone wolf sprinting across a snow-covered tundra under a full moon. Hyperrealistic, cool blue and white color palette. Audio: The wolf\u2019s panting, crunching snow underfoot, distant wind howling.\u201d\nCrane Shot Example: \u201cEpic crane shot starting at ground level with two warriors clashing swords, then smoothly rising high above to reveal the vast battlefield stretching to the horizon. Fantasy art style, dramatic sunset lighting. Audio: Clashing steel, battle cries, soaring orchestral score.\u201d (Inspired by 24).\nZoom Out with Dialogue Example: \u201cMedium shot of a scientist looking at a complex equation on a futuristic transparent screen. She says, \u2018I\u2019ve almost got it!\u2019 Slow zoom out to reveal the enormous, complex machinery filling the vast laboratory. Sci-fi aesthetic, blue and silver tones. Audio: Her excited voice, humming machinery, subtle electronic beeps.\u201d\nNuances and Combinations:\nSpeed and Pacing: Modifiers like \u201cslow,\u201d \u201cfast,\u201d \u201cgradual,\u201d or \u201crapid\u201d can be added to camera movement descriptions (e.g., \u201cslow pan left,\u201d \u201crapid tracking shot\u201d).\nCombining Movements: Veo 3 aims to understand complex instructions, and prompting for combined movements like \u201csimultaneous dolly-in and crane-up movement\u201d is feasible, though results may vary and require iteration.24\nMotivated Camera Movement: The most effective camera movements are those that serve a narrative or emotional purpose.24 Prompts can imply this motivation. For example, instead of just \u201chandheld camera,\u201d a more motivated prompt might be: \u201cHandheld camera work during the frantic chase sequence through a crowded market, movement becoming more erratic and shaky as the protagonist desperately tries to escape, mirroring their panic and disorientation.\u201d\n\nComprehensive Guide to Veo 3 Camera Movement Keywords\nMastering camera movement is essential for creating dynamic, cinematic videos with Veo 3. Here\u2019s your complete reference guide for controlling the virtual camera:\nStatic/Fixed Shots\nKeywords: static shot, fixed camera Visual Effect: Provides stability and focus; allows viewers to absorb scene details without distraction. When to use: Establishing shots, dialogue scenes, or when you want viewers to focus on specific details. Example prompt snippet: \u201c\u2026static wide shot establishing the ancient library\u2026\u201d\nPan Movements\nKeywords: pan left, pan right, slow pan, fast pan, whip pan Visual Effect: Reveals information gradually, builds anticipation, shows expanse of a location. When to use: Revealing landscapes, following action horizontally, creating suspense. Example prompt snippet: \u201c\u2026slow right-to-left pan across the alien landscape\u2026\u201d\nTilt Movements\nKeywords: tilt up, tilt down Visual Effect: Reveals vertical relationships, can create drama or emphasize scale.When to use: Showing height of buildings, revealing character emotions, dramatic reveals. Example prompt snippet:\u201d\u2026upward tilt from the character\u2019s worn boots to their determined expression\u2026\u201d\nTracking/Follow Shots\nKeywords: tracking shot, follow shot, lateral tracking shot Visual Effect: Creates dynamic movement, maintains focus on a moving subject, provides spatial awareness. When to use: Following characters in motion, action sequences, creating energy. Example prompt snippet: \u201c\u2026smooth tracking shot following the dancer across the stage\u2026\u201d\nDolly Movements\nKeywords: dolly in, dolly out, slow dolly Visual Effect: Moves camera closer or further, creating intimacy or detachment; emphasizes subject or reveals context. When to use: Building tension, revealing information, creating emotional connection. Example prompt snippet: \u201c\u2026slow dolly-in on the mysterious artifact as it begins to glow\u2026\u201d\nZoom Effects\nKeywords: zoom in, zoom out, slow zoom, crash zoom Visual Effect: Changes field of view without camera moving; can create focus, tension, or dramatic reveal. When to use: Dramatic emphasis, revealing details, creating intensity.Example prompt snippet: \u201c\u2026dramatic zoom in on the villain\u2019s eyes as they narrow\u2026\u201d\nCrane/Aerial Shots\nKeywords: crane shot, jib shot, camera rises, camera descends Visual Effect: Offers dramatic perspective changes, establishes scope, creates emotional peaks. When to use: Epic reveals, establishing scale, dramatic transitions.Example prompt snippet: \u201c\u2026high crane shot pulling back to reveal the city skyline at night\u2026\u201d\nAngle Variations\nKeywords: high angle, low angle, bird\u2019s-eye view, worm\u2019s-eye view, eye level Visual Effect: Influences perception of power, vulnerability, or provides unique perspectives. When to use: Character dynamics, creating mood, unique viewpoints. Example prompt snippet: \u201c\u2026low angle shot of the towering monster, emphasizing its scale\u2026\u201d\nHandheld Styles\nKeywords: handheld camera, shaky camera, slight handheld movement Visual Effect: Creates realism, immediacy, tension, or a documentary feel. When to use: Action sequences, emotional scenes, realistic narratives. Example prompt snippet: \u201c\u2026handheld camera with subtle shake, following the journalist through the protest\u2026\u201d\nSpecialty Movements\nKeywords: orbit shot, arc shot, fly through Visual Effect: Camera moves in circular path or through environments, showcasing subjects from multiple angles. When to use: Product showcases, magical moments, immersive experiences. Example prompt snippet: \u201c\u2026360-degree orbit shot around the levitating crystal\u2026\u201d\n\nIt\u2019s important to recognize that effective camera movement prompting for Veo 3 transcends simply naming a movement. It involves integrating that movement meaningfully with the scene\u2019s action, the subject\u2019s behavior, and the desired emotional tone. Veo 3 is designed to understand \u201ccinematic language\u201d.8 In cinematic practice, camera movements are rarely arbitrary; they are driven by the narrative and the emotional arc of the scene. Sources explicitly highlight the importance of \u201cMotivated Camera Movement\u201d.24 Therefore, a prompt that merely states \u201cdolly shot\u201d will likely be less effective than one that contextualizes the movement, such as, \u201cSlow dolly-in on the pianist\u2019s hands as the music intensifies, creating intimacy and emphasizing the precision of each note\u201d.24 This implies a directorial mindset when prompting, where the camera is considered an active participant in conveying the story, not just a passive observer.\n\nAdvanced Prompting Strategies for Cinematic Control\n\nBeyond camera movement, several other prompt components contribute significantly to achieving a high degree of cinematic control with Veo 3. These include precise shot composition, the strategic use of lens and focus effects, effective audio cueing, and the judicious application of negative prompts.\n\nLeveraging Shot Composition and Lens Effects:\nShot Composition Keywords: Specifying the shot composition is fundamental to framing the visual narrative. Common terms include \u201cclose-up\u201d (CU), \u201cmedium shot\u201d (MS), \u201clong shot\u201d (LS) or \u201cwide shot\u201d (WS), \u201cextreme close-up\u201d (ECU/XCU), \u201cextreme long shot\u201d (ELS/XLS), \u201ctwo shot\u201d (framing two subjects), \u201cover-the-shoulder shot\u201d (OTS), and \u201cpoint-of-view shot (POV)\u201d.1 These terms, as highlighted in guides 1, direct Veo 3 on how to frame subjects and scenes.\nLens & Focus Effects: The choice of virtual lens and focus can dramatically alter the visual impact. Keywords such as \u201cshallow focus\u201d or \u201cshallow depth of field\u201d (DoF) isolate the subject by blurring the background, often used for portraits or to draw attention.1 Conversely, \u201cdeep focus\u201d keeps both foreground and background sharp. \u201cSoft focus\u201d can create a dreamy or romantic feel. \u201cRack focus\u201d involves shifting the plane of focus from one subject to another within the shot, a powerful storytelling device.9 Lens types like \u201cmacro lens\u201d (for extreme close-ups of small details), \u201cwide-angle lens\u201d (exaggerating depth and capturing a broader field of view), or even \u201cfisheye lens\u201d (for a distorted, spherical look) can be specified.1 \u201cLens flare\u201d can add a stylistic visual artifact. These choices are vital for directing the viewer\u2019s eye, creating a sense of depth or compression, and contributing to the overall visual style.\nEffective Use of Negative Prompts:\nNegative prompts are a crucial tool for refining output by specifying what to exclude. The primary rule, consistently emphasized, is to avoid instructive language like \u201cno\u201d or \u201cdon\u2019t\u201d in the main positive prompt.17 Instead, one should describe what is not wanted. For instance, if aiming for an empty street, rather than prompting \u201cno cars,\u201d a more effective positive prompt might be \u201can empty, deserted street.\u201d If the interface supports a dedicated negative prompt field (common in APIs or advanced UIs), terms like \u201ccars, vehicles, people\u201d could be listed there. The official guidance suggests that to exclude a wall or frame, the negative prompt should simply be \u201cwall, frame\u201d.17 This helps the model steer away from generating those elements, leading to cleaner and more precise results.\nIncorporating Audio Cues Effectively:\nVeo 3\u2019s native audio generation is a significant advantage, but it requires clear instruction.\nDialogue: Attribute speech clearly to characters: \u201cCharacter Name: \u2018Dialogue text.\u2019\u201d For multiple speakers, maintain clarity: \u201cThe old woman whispers, \u2018The treasure is hidden.\u2019 The young boy replies excitedly, \u2018Where?\u2019\u201d.3\nSound Effects (SFX): Be specific and descriptive. Instead of \u201cnoise,\u201d use \u201cthe rhythmic clatter of a train on tracks,\u201d \u201ca sudden, sharp crack of thunder,\u201d or \u201cgentle lapping of waves on a shore\u201d.3\nMusic: Describe the genre, mood, instrumentation, and tempo. Examples: \u201ca melancholic piano melody,\u201d \u201can upbeat, driving electronic track with a heavy bassline,\u201d \u201ca sweeping orchestral score building to a crescendo\u201d.3\nEmotional Tone in Dialogue: Beyond the words themselves, describe the manner of delivery to guide vocal performance: \u201cHe confessed with a trembling voice,\u201d \u201cShe announced triumphantly,\u201d \u201cThey argued, their voices filled with bitter resentment\u201d.26 User experiences highlight the importance of describing the emotion behind dialogue delivery.36\nMaintaining Character and Scene Consistency:\nWhile Veo 3 generates individual clips, typically around 8 seconds in length 19, creators often aim to string these together into longer narratives. For such multi-shot sequences, maintaining consistency is paramount. This involves using highly specific and recurring descriptors for characters (e.g., \u201ca tall detective with a scar above his left eye, wearing a rumpled beige trench coat and a fedora\u201d) and settings across all related prompts.8 Reference images, when utilized in image-to-video mode or through platforms like Google Flow, can also be powerful aids in maintaining visual consistency for characters, styles, and locations.\n\nEssential Keywords for Shot Composition, Lens, Style, and Ambiance\nThese advanced elements give you precise control over the visual and emotional impact of your Veo 3 generations:\nComposition Control\nKeywords: close-up, medium shot, wide shot, extreme close-up, over-the-shoulder, two shot, point-of-view (POV) Purpose: Defines framing, directs attention, establishes relationships between subjects and environment. Example usage: \u201c\u2026over-the-shoulder shot of the hero looking at the villain\u2026\u201d\nLens and Focus Effects\nKeywords: shallow depth of field, deep focus, rack focus, soft focus, macro lens, wide-angle lens, lens flare Purpose: Isolates subjects, keeps everything in focus, shifts focus dramatically, creates dreamy looks, shows tiny details, expands perspective. Example usage: \u201c\u2026shallow depth of field, focusing on the intricate details of the flower\u2026\u201d\nStyle References\nKeywords: film noir, anime, documentary, surrealism, impressionistic, claymation, pixel art, Wes Anderson style Purpose: Dictates the overall artistic and visual treatment, referencing established aesthetic conventions. Example usage: \u201c\u2026in the style of a gritty 1940s film noir, black and white\u2026\u201d\nLighting and Ambiance\nKeywords: chiaroscuro lighting, high-key lighting, low-key lighting, golden hour, blue hour, neon glow, candlelit Purpose: Creates mood, defines form through light and shadow, establishes time of day, adds stylistic color.Example usage: \u201c\u2026lit by flickering candlelight, casting long, dancing shadows\u2026\u201d\nColor Palette Control\nKeywords: monochromatic, vibrant colors, pastel tones, desaturated, sepia tone, cool blue palette, warm orange tones Purpose: Influences emotional response, sets mood, reinforces style (e.g., desaturated for noir, vibrant for fantasy). Example usage: \u201c\u2026a muted, desaturated color palette to enhance the somber mood\u2026\u201d\n\nThe sophisticated combination of these advanced elements \u2014 composition, lens choices, meticulously described audio, and negative prompts \u2014 facilitates a more nuanced method of guiding the AI. By precisely defining not only what is desired but also what is not, and by controlling the how of the visual presentation (camera angles, lens effects, lighting), the user can sculpt Veo 3\u2019s output with significantly greater finesse. This approach moves beyond purely additive descriptions. Basic prompting primarily focuses on listing elements to include. Advanced prompting, however, incorporates subtractive or constraining elements through negative prompts and highly specific stylistic and compositional directives. This dual strategy \u2014 both additive and constraining \u2014 grants the user enhanced power to steer the AI away from undesirable or generic outputs and towards a highly specific, preconceived vision. It is akin to sculpting, where material is both added and carefully taken away to refine the final form; this structured and detailed methodology helps to \u201csculpt\u201d the vast creative potential of the AI.\n\n\nPractical Recommendations and Best Practices for Veo 3 Prompting\n\nAchieving optimal results with Veo 3 requires not only understanding its capabilities and prompt structure but also adopting effective workflow practices. Iteration, attention to detail, and an awareness of the model\u2019s current limitations are key.\n\nIterative Prompting and Refinement:\nIt is a fundamental truth in AI generation that the first prompt rarely yields a perfect result.8 The process is inherently iterative. Creators should begin with a core concept or idea and then progressively add layers of detail, modify specific elements, or try different phrasing based on the video output received. Analyzing the generated video and identifying discrepancies from the intended vision is crucial for refining subsequent prompts. As highlighted, \u201cExperimenting and iterating involves testing different prompts, analyzing the results, and refining your approach based on what works best\u201d.29 Similarly, it is advised to \u201cIterate with feedback from Google Veo 3\u2019s output\u201d.8\nThe Importance of Detail and Descriptive Language:\nThe quality and specificity of the output are directly proportional to the detail provided in the prompt. Using rich, evocative adjectives and adverbs helps to paint a clearer picture for the AI, guiding it more effectively.17 Instead of general terms, opt for precise descriptors. For example, rather than \u201ca sad character,\u201d describe the visual manifestations of sadness: \u201ca character with slumped shoulders, downcast eyes, and a quivering lip.\u201d As one guide suggests, \u201cBe Descriptive: The more details you provide, the better the output. Use Specific Language: Mention camera angles, lighting, and emotions\u201d.35\nUnderstanding Veo 3\u2019s Current Limitations:\nWhile powerful, Veo 3 is still an evolving technology and has certain limitations that users should be aware of to manage expectations and adapt their workflows:\nVideo Length: Generated clips are typically constrained to a duration of 5 to 8 seconds. Longer narratives must therefore be planned as a series of interconnected 8-second segments, each generated by its own carefully crafted prompt, with attention to continuity.\nPrompt Adherence Imperfections: Despite significant improvements, Veo 3\u2019s adherence to prompts is not infallible. Even with meticulously detailed instructions, occasional unexpected results, visual artifacts, or \u201cAI weirdness\u201d (e.g., distorted hands, unnatural movements) can occur.11 A willingness to iterate and troubleshoot is essential.\nAvoidance of \u201cNo\u201d or Direct Instructive Language: As previously discussed, Veo 3 responds poorly to negative commands like \u201cdon\u2019t show X\u201d or instructive phrases like \u201cremove Y\u201d within the main positive prompt.17 Such requests should be rephrased positively (e.g., describing the desired state without the unwanted element) or handled via dedicated negative prompt fields if available.\n\nSubtitles: Off\n\nTotal character count must be less than 1450 characters."
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "d36a7c03-33c1-4d8e-9ad6-ebc1562a079f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        -80
      ],
      "parameters": {
        "color": 3,
        "width": 380,
        "height": 100,
        "content": "## 1500 Character Limit for Prompt due to Leo API limits"
      },
      "typeVersion": 1
    },
    {
      "id": "9cdd3024-1858-4521-a1d1-2c2a4a17dff6",
      "name": "Video Context",
      "type": "n8n-nodes-base.set",
      "position": [
        -180,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "bf342f2b-83de-42df-8d3d-446c8ec6016e",
              "name": "context",
              "type": "string",
              "value": "vlog style video of a star wars stormtrooper-like character digging for nuclear uranium deposits in a desert; wondering if they are really there. have it say something funny related to the search. include some sort of background music that matches the scene. as well as sound effects that add to the vitality of the scene."
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "a2088c8f-8476-4c2f-8249-f7f9b0f2170b",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        300
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 260,
        "content": "## Creative Commons License\n*License*: **Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International ** (CC BY-NC-SA 4.0)\n\n*Author*: **AlexK1919**\nYou are free to use, adapt, and share this workflow for non-commercial purposes under the terms of this license.\n\nFull license details: https://creativecommons.org/licenses/by-nc-sa/4.0/"
      },
      "typeVersion": 1
    },
    {
      "id": "abd5b4a0-bb15-429b-8071-f6d306f2fbd5",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        -100
      ],
      "parameters": {
        "color": 6,
        "width": 380,
        "height": 380,
        "content": "# AlexK1919 \n\n#### I\u2019m Alex Kim, an AI-Native Workflow Automation Architect, n8n Ambassador and Verified Partner. Founder @ [WotAI](https://wotai.co)\n\n### About Me\nhttps://alexk1919.com\n\n### Product Used \n[Leonardo.ai](https://leonardo.ai)\n[Google Drive](https://drive.google.com/)\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b5cf009-b04b-49c6-a4e0-2112ed6da35e",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Leo - Get videoId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Veo3 Video Prompt Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Video Context": {
      "main": [
        [
          {
            "node": "Veo3 Video Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "UPLOAD VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Get videoId": {
      "main": [
        [
          {
            "node": "Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Veo3 Video Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Veo3 Video Prompt Generator": {
      "main": [
        [
          {
            "node": "LEO - Generate Text to Motion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEO - Generate Text to Motion": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Video Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Transform Text into AI Videos with Google Veo3, Leonardo.ai and Claude 4",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/5666",
    "scraped_at": "2025-08-21 02:06:46",
    "workflow_id": "b875d8b1-adf2-5b8e-9704-8e399c1ca84c"
  },
  "_filename": "Transform_Text_into_AI_Videos_with_Google_Veo3_Leonardoai_and_Claude_4.json"
}