workflows/Website_Monitoring_Scheduling_and_Email_Alerts_Template.json
{
  "name": "Website Downtime Monitoring with Email Alerts",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Website Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "2",
      "name": "Check Website Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        300
      ],
      "parameters": {
        "url": "https://yourdomain.com",
        "method": "GET",
        "options": {},
        "responseFormat": "json"
      },
      "typeVersion": 1
    },
    {
      "id": "3",
      "name": "Website Down?",
      "type": "n8n-nodes-base.if",
      "position": [
        600,
        300
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"statusCode\"] }}",
              "value2": 200,
              "operation": "notEqual"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "4",
      "name": "Send Downtime Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        800,
        200
      ],
      "parameters": {
        "html": "<!DOCTYPE html><html><head><style>body { font-family: Arial, sans-serif; background-color: #f8f9fa; color: #333; padding: 20px; } .container { background-color: #fff; border-radius: 8px; padding: 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); max-width: 600px; margin: auto; } h2 { color: #d9534f; } p { font-size: 16px; line-height: 1.5; } .footer { margin-top: 30px; font-size: 12px; color: #999; text-align: center; } a { color: #0275d8; text-decoration: none; } a:hover { text-decoration: underline; }</style></head><body><div class=\"container\"><h2>\u26a0\ufe0f Website Down Alert</h2><p>Dear Team,</p><p>The monitored website (<a href=\"https://yourdomain.com\" target=\"_blank\">Link</a>) is currently <strong>not reachable</strong> as of <strong>{{$now}}</strong>.</p><p>Please check the website and take necessary action as soon as possible.</p><p>Thank you,<br>n8n Monitoring Bot</p></div></body></html>",
        "subject": "\u26a0\ufe0f Website Downtime Alert",
        "toEmail": "your@email.com",
        "fromEmail": "your@email.com"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "settings": {},
  "connections": {
    "Website Down?": {
      "main": [
        [
          {
            "node": "Send Downtime Email Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check Website Status": {
      "main": [
        [
          {
            "node": "Website Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Website Check": {
      "main": [
        [
          {
            "node": "Check Website Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Website Monitoring, Scheduling, and Email Alerts Template",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/5067",
    "scraped_at": "2025-08-21 01:16:32",
    "workflow_id": "8d71455e-14e7-5c4e-8462-d7eab2b11a46"
  },
  "_filename": "Website_Monitoring_Scheduling_and_Email_Alerts_Template.json"
}