workflows/Write_HTTP_query_string_on_image.json
{
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        700,
        350
      ],
      "parameters": {
        "path": "test",
        "responseData": "firstEntryBinary",
        "responseMode": "lastNode"
      },
      "typeVersion": 1
    },
    {
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "position": [
        1100,
        350
      ],
      "parameters": {
        "text": "=They found the killer it was {{$node[\"Webhook\"].data[\"query\"][\"name\"]}}!",
        "fontSize": "=25",
        "operation": "text",
        "positionX": 150,
        "positionY": 180,
        "lineLength": 18
      },
      "typeVersion": 1
    },
    {
      "name": "Read File URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        350
      ],
      "parameters": {
        "url": "https://www.needpix.com/file_download.php?url=//storage.needpix.com/thumbs/newspaper-412809_1280.jpg",
        "responseFormat": "file"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read File URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File URL": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "_metadata": {
    "name": "Write HTTP query string on image",
    "used_count": 0,
    "popularity_score": 25,
    "source_url": "https://n8n.io/workflows/3",
    "scraped_at": "2025-08-20 22:13:22",
    "workflow_id": "cb259b2d-acfa-5a1e-b16d-bf04dbe0fe47"
  },
  "_filename": "Write_HTTP_query_string_on_image.json"
}